<header>
    <div></div>
    <div></div>
    <div></div>
</header>

<header class="grid grid-cols-2  md:grid-cols-6 p-3 bg-gray-100 gap-3 ">
    <div class="shadow-sm col-span-2  md:col-span-1  rounded-lg bg-white ">
        <div class=" col-span-2  font-bold text-center pt-5">Documentos</div>
        <div class="col-span-2 md:col-span-1 grid grid-cols-2 md:grid-cols-1">
            <!-- Cotizar -->
            <div class=" col-span-1 p-6 space-y-3  border-b-2 border-gray-100 ">
                <!-- Titulo e imagen -->
                <div class="border border-gray-200 rounded-lg  space-y-3  py-5 ">
                    <div class="flex justify-center"><img src="assets/img/documentos-factesol/docu-blue.svg" alt=""></div>
                    <div class="text-center text-sm ">Cotización</div>
                </div>
                <!-- boton inactivo -->
                <div class="flex justify-center" *ngIf="elegirCotizar === false" [class.showingData]="elegirCotizar === true">
                    <button (click)="onCotizar()" class="text-center focus:outline-none  bg-black hover:bg-gray-900 text-white px-6 py-2 rounded-full">Visualizar</button>
                </div>
                <!-- boton activo -->
                <div *ngIf="elegirCotizar === true" class="flex justify-center">
                    <button class="text-center focus:outline-none  border border-gray-400  text-gray-400 px-6 py-2 rounded-full">Visualizando</button>
                </div>
            </div>
            <!-- Contrato -->
            <div class=" col-span-1 p-6 space-y-3">
                <!-- Titulo e imagen -->
                <div class="border border-gray-200 rounded-lg space-y-3 py-5">
                    <div class="flex justify-center"><img src="assets/img/documentos-factesol/docu-green.svg" alt=""></div>
                    <div class="text-center text-sm ">Contrato</div>
                </div>
                <!-- boton inactivo -->
                <div class="flex justify-center" *ngIf="elegirContrato === false" [class.showingData]="elegirContrato === true">
                    <button (click)="onContrato()" class="text-center focus:outline-none bg-black hover:bg-gray-900 text-white px-6 py-2 rounded-full">Visualizar</button>
                </div>
                <!-- boton activo -->
                <div *ngIf="elegirContrato === true" class="flex justify-center">
                    <button class="text-center focus:outline-none  border border-gray-400  text-gray-400 px-6 py-2 rounded-full">Visualizando</button>
                </div>
            </div>
        </div>

    </div>
    <!-- Sale al inicio -->
    <div *ngIf="elegir === false" class="col-span-2 md:col-span-5  flex justify-center items-center shadow-sm bg-white  rounded-lg">
        <img src="assets/img/documentos-factesol/docu-busquedad.svg" alt="">
    </div>
    <!-- Cotizar -->
    <div *ngIf="elegirCotizar === true" class=" col-span-2 md:col-span-5 flex  items-center  shadow-sm bg-white rounded-lg">
        <section class=" col-span-2 md:col-span-5 w-full h-full grid grid-cols-1 md:grid-cols-5 border  rounded-md shadow-md border-gray-200  ">
            <!-- Imgen Central -->
            <div class="col-span-2 lg:p-5  md:col-span-3 bg-gray-300 rounded-l-md  flex items-center justify-center ">
                <div class="col-span-2  md:col-span-3 bg-gray-300 rounded-l-md  flex items-center justify-center ">
                    <div class="rounded-md m-9 md:m-0  bg-white  ">
                        <img src="assets/img/documentos-factesol/cotizar.png" alt="">
                    </div>
                </div>
            </div>
            <!-- Llenado de la Info -->
            <form class="  col-span-2 md:col-span-2 mx-3 my-3 md:mx-5 md:my-5  felx-col  lg:mx-7 ">
                <!-- Informacion -->
                <div class=" pt-3 md:pt-0 w-full flex flex-col md:mb-2 space-y-3">
                    <label class="font-bold">Información</label>
                    <label>El documento fue subido y válidado el 22/12/2020.</label>
                    <!-- <p class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
                </div>

                <!-- Zoom  -->
                <div class=" space-y-2 pt-4 ">
                    <span class=" font-bold ">Zoom</span>
                    <div class="flex gap-3">
                        <button class="flex justify-center items-center rounded-md bg-white border border-black focus:outline-none px-4 py-2">
                            <svg width="14" height="3" viewBox="0 0 14 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="14" height="3" fill="#262626"/>
                            </svg>     
                        </button>
                        <button class="flex justify-center items-center rounded-md bg-white border border-black focus:outline-none px-4 py-2">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16 6.72H9.28V0H6.72V6.72H0V9.28H6.72V16H9.28V9.28H16V6.72Z" fill="#262626"/>
                            </svg>
                        </button>
                    </div>

                </div>

                <!-- Boton Descargar -->
                <button class="rounded-full px-6 py-2 mt-7 bg-black hover:bg-gray-900 text-white focus:outline-none">Descargar</button>
            </form>
        </section>
    </div>

    <!-- Contrato -->
    <div *ngIf="elegirContrato === true" class=" col-span-2 md:col-span-5 flex  items-center  shadow-sm bg-white rounded-lg">
        <section class=" col-span-2 md:col-span-5 w-full h-full grid grid-cols-1 md:grid-cols-5 border  rounded-md shadow-md border-gray-200  ">
            <!-- Imgen Central -->
            <div class="col-span-2 lg:p-5  md:col-span-3 bg-gray-300 rounded-l-md  flex items-center justify-center ">
                <div class="col-span-2  md:col-span-3 bg-gray-300 rounded-l-md  flex items-center justify-center ">
                    <div class="rounded-md m-9 md:m-0  bg-white  ">
                        <img src="assets/img/documentos-factesol/contrato.png" alt="">
                    </div>
                </div>
            </div>
            <!-- Llenado de la Info -->
            <form action="" class="col-span-2 md:col-span-2 mx-3 my-3 md:mx-5 md:my-5  felx-col  lg:mx-7 ">
                <!-- Informacion -->
                <div class=" w-full flex flex-col md:mb-2 space-y-3">
                    <label class="font-bold">Información</label>
                    <label>El documento fue subido y válidado el 22/12/2020.</label>
                    <!-- <p class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
                </div>

                <!-- Zoom  -->
                <div class=" space-y-2 pt-4 ">
                    <span class=" font-bold ">Zoom</span>
                    <div class="flex gap-3">
                        <button class="flex justify-center items-center rounded-md bg-white border border-black focus:outline-none px-4 py-2">
                            <svg width="14" height="3" viewBox="0 0 14 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="14" height="3" fill="#262626"/>
                            </svg>     
                        </button>
                        <button class="flex justify-center items-center rounded-md bg-white border border-black focus:outline-none px-4 py-2">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16 6.72H9.28V0H6.72V6.72H0V9.28H6.72V16H9.28V9.28H16V6.72Z" fill="#262626"/>
                            </svg>
                        </button>
                    </div>

                </div>

                <!-- Boton Descargar -->
                <button class="rounded-full px-6 py-2 mt-7 bg-black hover:bg-gray-900 text-white focus:outline-none">Descargar</button>


                <!-- check -->
                <div class="flex lg:pt-44  ">
                    <div class="flex gap-3 pt-3 border-t-2 border-gray-100">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 0C5.37321 0 0 5.37321 0 12C0 18.6268 5.37321 24 12 24C18.6268 24 24 18.6268 24 12C24 5.37321 18.6268 0 12 0ZM17.183 8.08125L11.542 15.9027C11.4631 16.0127 11.3592 16.1024 11.2388 16.1642C11.1184 16.2261 10.9849 16.2584 10.8496 16.2584C10.7142 16.2584 10.5808 16.2261 10.4603 16.1642C10.3399 16.1024 10.236 16.0127 10.1571 15.9027L6.81696 11.2741C6.71518 11.1321 6.81696 10.9339 6.99107 10.9339H8.24732C8.52054 10.9339 8.78036 11.0652 8.94107 11.2902L10.8482 13.9366L15.0589 8.09732C15.2196 7.875 15.4768 7.74107 15.7527 7.74107H17.0089C17.183 7.74107 17.2848 7.93929 17.183 8.08125Z" fill="#4FC425"/>
                        </svg>
                        <div class="text-base text-blue-500 font-semibold ">Contrato verificado y aceptado (14/01/2021)</div>

                    </div>

                </div>
            </form>
        </section>
    </div>


</header>