<div class="dsc-carousel flex items-center " [ngStyle]="{'min-height' :  finalHeight}">
    <div class="dsc-carousel_btns w-full lg:mx-7  items-center flex justify-between">
        <!-- flecha activa -->
        <button class="flex justify-start focus:outline-none " (click)="setBack()">
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="25" cy="25" r="24.3" stroke="#CACACA" stroke-width="1.4"/>
                <path d="M32 24.0013H20.14L23.77 19.6413C23.9397 19.437 24.0214 19.1738 23.997 18.9093C23.9726 18.6449 23.8442 18.401 23.64 18.2313C23.4358 18.0615 23.1725 17.9799 22.9081 18.0042C22.6437 18.0286 22.3997 18.157 22.23 18.3613L17.23 24.3613C17.1964 24.409 17.1663 24.4591 17.14 24.5113C17.14 24.5613 17.14 24.5913 17.07 24.6413C17.0247 24.7559 17.0009 24.878 17 25.0013C17.0009 25.1245 17.0247 25.2466 17.07 25.3613C17.07 25.4113 17.07 25.4413 17.14 25.4913C17.1663 25.5434 17.1964 25.5935 17.23 25.6413L22.23 31.6413C22.324 31.7541 22.4418 31.8449 22.5748 31.9071C22.7079 31.9694 22.8531 32.0015 23 32.0013C23.2337 32.0017 23.4601 31.9203 23.64 31.7713C23.7413 31.6873 23.825 31.5842 23.8863 31.4679C23.9477 31.3515 23.9855 31.2242 23.9975 31.0932C24.0096 30.9622 23.9957 30.8302 23.9567 30.7046C23.9176 30.579 23.8542 30.4623 23.77 30.3613L20.14 26.0013H32C32.2652 26.0013 32.5196 25.8959 32.7071 25.7084C32.8946 25.5208 33 25.2665 33 25.0013C33 24.736 32.8946 24.4817 32.7071 24.2941C32.5196 24.1066 32.2652 24.0013 32 24.0013Z" fill="#CACACA"/>
            </svg>
        </button>
        <!-- flecha desactiva -->
        <button class="flex justify-end focus:outline-none " (click)="setNext()">
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="25" cy="25" r="25" fill="#242424"/>
                <path d="M18 25.9997H29.86L26.23 30.3597C26.0603 30.5639 25.9786 30.8272 26.003 31.0916C26.0274 31.3561 26.1558 31.6 26.36 31.7697C26.5642 31.9395 26.8275 32.0211 27.0919 31.9967C27.3563 31.9724 27.6003 31.8439 27.77 31.6397L32.77 25.6397C32.8036 25.592 32.8337 25.5419 32.86 25.4897C32.86 25.4397 32.86 25.4097 32.93 25.3597C32.9753 25.2451 32.9991 25.123 33 24.9997C32.9991 24.8764 32.9753 24.7544 32.93 24.6397C32.93 24.5897 32.93 24.5597 32.86 24.5097C32.8337 24.4576 32.8036 24.4074 32.77 24.3597L27.77 18.3597C27.676 18.2468 27.5582 18.1561 27.4252 18.0938C27.2921 18.0316 27.1469 17.9995 27 17.9997C26.7663 17.9993 26.5399 18.0806 26.36 18.2297C26.2587 18.3137 26.175 18.4168 26.1137 18.5331C26.0523 18.6495 26.0145 18.7768 26.0025 18.9078C25.9904 19.0387 26.0043 19.1708 26.0433 19.2964C26.0824 19.422 26.1458 19.5387 26.23 19.6397L29.86 23.9997H18C17.7348 23.9997 17.4804 24.1051 17.2929 24.2926C17.1054 24.4802 17 24.7345 17 24.9997C17 25.2649 17.1054 25.5193 17.2929 25.7068C17.4804 25.8944 17.7348 25.9997 18 25.9997Z" fill="white"/>
            </svg>
        </button>
    </div>
    <div class="dsc-carousel_content">
        <ng-container *ngFor="let section of items; ">
            <div class="das-carousel_content-item" [ngStyle]="{'background-image': 'url(' + section.imagen + ')', 'margin-left':section.marginLeft + '%' }">
                <h1> {{section.title.first}} <span> {{section.title.second}} </span></h1>
                <p> {{section.subtitle}} </p>
            </div>
        </ng-container>
    </div>
    <div class="dsc-carousel_steps">
        <div class="dsc-carousel_steps-step 
        dsc-carousel steps-step-{{currentPosition === item.id ? 'active': ''}}" *ngFor="let item of items" (click)="setCurrentPosition(item.id)">
        </div>
    </div>
</div>