<header class="bg-gray-100 p-3">
    <div class="bg-white rounded-2xl p-4">
        <!-- Titulo y continuar de seleccion del rubro -->
        <section class=" pt-4 pl-2">
            <div class="grid grid-cols-6 ">
                <div class="col-span-5 flex flex-col  ">
                    <div class="text-lg font-semibold">Seleccione un rubro</div>
                    <div class="text-gray-500">FactuTED es un plataforma con una gran variedad de rubros. A continuación se le mostrar los multiples rubros disponibles:</div>
                </div>
                <button [routerLink]="['/documentos']" class="focus:outline-none col-span-1 flex justify-center items-center hover:bg-black hover:text-white bg-gray-200 text-gray-600 px-5 py-2 rounded-3xl">Continuar</button>
            </div>
        </section>
        <!-- Los rubros a seleccionar -->
        <div class=" ml-32 mx-3 pt-12 ">
            <section class="h-screen overflow-y-auto ">
                <div class="grid grid-cols-3 gap-3 flex-col  ">
                    <!-- Transporte terrestre -->
                    <div class="col-span-1 border rounded-md p-4  hover:border-blue-500 focus:border-blue-500 cursor-pointer ">
                        <div class="rounded-full w-12 h-12 p-3 flex justify-center items-center border">
                            <svg width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M23.4343 6.9H22.2857V3.45C22.2857 2.535 21.9245 1.65748 21.2815 1.01048C20.6385 0.363481 19.7665 0 18.8571 0L5.14286 0C4.23354 0 3.36147 0.363481 2.71849 1.01048C2.07551 1.65748 1.71429 2.535 1.71429 3.45V6.9H0.548572C0.403081 6.9 0.26355 6.95816 0.160673 7.06168C0.0577957 7.1652 0 7.3056 0 7.452V11.523C0 11.8283 0.245143 12.075 0.548572 12.075H1.71429V22.425C1.71429 23.3738 1.71429 24.15 3.42857 24.15V26.7375C3.42857 26.9662 3.51888 27.1856 3.67962 27.3474C3.84037 27.5091 4.05839 27.6 4.28571 27.6H7.71429C7.94161 27.6 8.15963 27.5091 8.32038 27.3474C8.48112 27.1856 8.57143 26.9662 8.57143 26.7375V24.15H15.4286V26.7375C15.4286 26.9662 15.5189 27.1856 15.6796 27.3474C15.8404 27.5091 16.0584 27.6 16.2857 27.6H19.7143C19.9416 27.6 20.1596 27.5091 20.3204 27.3474C20.4811 27.1856 20.5714 26.9662 20.5714 26.7375V24.15C22.2857 24.15 22.2857 23.3738 22.2857 22.425V12.075H23.4343C23.5843 12.075 23.7282 12.015 23.8343 11.9083C23.9404 11.8015 24 11.6567 24 11.5058C24 11.3548 23.9404 11.21 23.8343 11.1032C23.7282 10.9965 23.5843 10.9365 23.4343 10.9365C23.2843 10.9365 23.1404 10.9965 23.0343 11.1032C22.9282 11.21 22.8686 11.3548 22.8686 11.5058C22.8686 11.6567 22.9282 11.8015 23.0343 11.9083C23.1404 12.015 23.2843 12.075 23.4343 12.075C23.5843 12.075 23.7282 12.015 23.8343 11.9083C23.9404 11.8015 24 11.6567 24 11.5058V7.46925C24 7.31828 23.9404 7.17348 23.8343 7.06673C23.7282 6.95997 23.5843 6.9 23.4343 6.9ZM8.57143 1.725H15.4286V3.45H8.57143V1.725ZM5.14286 20.7C4.6882 20.7 4.25216 20.5183 3.93067 20.1948C3.60918 19.8713 3.42857 19.4325 3.42857 18.975C3.42857 18.5175 3.60918 18.0787 3.93067 17.7552C4.25216 17.4317 4.6882 17.25 5.14286 17.25C5.59751 17.25 6.03355 17.4317 6.35504 17.7552C6.67653 18.0787 6.85714 18.5175 6.85714 18.975C6.85714 19.4325 6.67653 19.8713 6.35504 20.1948C6.03355 20.5183 5.59751 20.7 5.14286 20.7ZM3.42857 13.8V5.175H20.5714V13.8H3.42857ZM18.8571 20.7C18.4025 20.7 17.9665 20.5183 17.645 20.1948C17.3235 19.8713 17.1429 19.4325 17.1429 18.975C17.1429 18.5175 17.3235 18.0787 17.645 17.7552C17.9665 17.4317 18.4025 17.25 18.8571 17.25C19.3118 17.25 19.7478 17.4317 20.0693 17.7552C20.3908 18.0787 20.5714 18.5175 20.5714 18.975C20.5714 19.4325 20.3908 19.8713 20.0693 20.1948C19.7478 20.5183 19.3118 20.7 18.8571 20.7Z" fill="#2DA6FE"/>
                            </svg>
                        </div>
                        <div class="font-bold">Trasporte Terrestre</div>
                        <div>Minim veniam, nostrudMinim veniam consequat. exercitation ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                    <!-- Restaurante -->
                    <div class="col-span-1 border rounded-md p-4 hover:border-blue-500 focus:border-blue-500 cursor-pointer ">
                        <div class="rounded-full w-12 h-12 p-3 flex justify-center items-center border">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.4984 11.2634C19.0678 11.265 19.6319 11.1536 20.158 10.9356C20.6841 10.7177 21.1617 10.3976 21.5633 9.99376L25.7343 5.82564C26.0642 5.49576 26.0945 4.95897 25.7803 4.61284C25.7014 4.52588 25.6057 4.45585 25.499 4.407C25.3922 4.35816 25.2766 4.3315 25.1593 4.32867C25.0419 4.32583 24.9252 4.34687 24.8162 4.3905C24.7072 4.43414 24.6082 4.49946 24.5252 4.58251L20.8076 8.29726C20.6828 8.42193 20.5136 8.49195 20.3371 8.49195C20.1607 8.49195 19.9915 8.42193 19.8667 8.29726C19.6072 8.03834 19.6213 7.60068 19.8802 7.34176L23.5816 3.64055C23.6646 3.55758 23.7298 3.45863 23.7734 3.34969C23.817 3.24076 23.838 3.1241 23.8352 3.00681C23.8323 2.88951 23.8057 2.77401 23.7569 2.6673C23.7081 2.5606 23.6381 2.46492 23.5513 2.38605C23.3944 2.24379 23.1899 2.16551 22.9782 2.16668C22.7382 2.16684 22.508 2.26231 22.3384 2.4321L18.6403 6.12951C18.5155 6.25418 18.3463 6.3242 18.1698 6.3242C17.9934 6.3242 17.8242 6.25418 17.6994 6.12951C17.4404 5.87059 17.454 5.43293 17.7129 5.17401L21.4143 1.47389C21.4973 1.39092 21.5625 1.29196 21.6061 1.18303C21.6497 1.07409 21.6707 0.957438 21.6679 0.84014C21.665 0.722842 21.6384 0.607341 21.5896 0.500638C21.5408 0.393935 21.4708 0.298251 21.384 0.219388C21.2271 0.0771254 21.0226 -0.00115243 20.8109 1.28248e-05C20.5709 0.000296893 20.3408 0.0957483 20.1711 0.265429L16.0028 4.43355C15.5989 4.83513 15.2788 5.31283 15.0608 5.83899C14.8429 6.36516 14.7315 6.92933 14.7331 7.49884V7.94463C14.7332 8.05861 14.7108 8.17148 14.6672 8.27679C14.6236 8.3821 14.5596 8.47778 14.479 8.55834L12.5501 10.4878C12.5299 10.5079 12.506 10.5239 12.4797 10.5348C12.4534 10.5457 12.4252 10.5513 12.3968 10.5513C12.3683 10.5513 12.3401 10.5457 12.3138 10.5348C12.2875 10.5239 12.2636 10.5079 12.2435 10.4878L2.85705 1.10122C2.69504 0.939041 2.47538 0.847644 2.24615 0.847035C2.01691 0.846426 1.79677 0.936654 1.63391 1.09797C0.813247 1.91101 0.375019 3.0588 0.375019 4.41676C0.369602 6.65926 1.54832 9.23759 3.45128 11.1378L8.08003 15.7663C8.73791 16.4228 9.62936 16.7916 10.5588 16.7917C10.8551 16.7918 11.1502 16.7539 11.4369 16.679C11.5089 16.6602 11.5829 16.6505 11.6574 16.6503C11.8749 16.6503 12.0845 16.7326 12.244 16.8805L12.861 17.4503C13.0201 17.6129 13.1095 17.8312 13.1102 18.0586V18.3587C13.1086 19.0409 13.3767 19.696 13.8561 20.1814L18.734 25.1415L18.7389 25.1469C19.2803 25.6882 20.0146 25.9923 20.7802 25.9922C21.5458 25.9922 22.28 25.688 22.8213 25.1466C23.3627 24.6052 23.6668 23.871 23.6667 23.1054C23.6667 22.3398 23.3625 21.6056 22.8211 21.0643L15.5093 13.7529C15.4892 13.7328 15.4732 13.7089 15.4623 13.6826C15.4514 13.6563 15.4458 13.6281 15.4458 13.5996C15.4458 13.5712 15.4514 13.543 15.4623 13.5167C15.4732 13.4904 15.4892 13.4665 15.5093 13.4463L17.4383 11.5175C17.5188 11.4369 17.6144 11.373 17.7196 11.3294C17.8248 11.2858 17.9376 11.2634 18.0515 11.2634H18.4984Z" fill="#2DA6FE"/>
                                <path d="M10.5592 18.5252C9.17155 18.5223 7.84101 17.9725 6.85618 16.995L6.1054 16.2442C6.02416 16.1632 5.91409 16.1177 5.79934 16.1177C5.68459 16.1177 5.57453 16.1632 5.49329 16.2442L0.888914 20.8246C0.0682523 21.6452 -0.224802 22.8531 0.181466 24.0361C0.204204 24.1027 0.231163 24.1679 0.262178 24.2311C0.808744 25.3502 1.86937 26.0002 3.02968 26.0002C3.4287 26.0012 3.82396 25.923 4.19255 25.7701C4.56114 25.6172 4.89573 25.3928 5.17694 25.1097L11.3175 18.9401C11.3434 18.9137 11.3632 18.882 11.3755 18.8472C11.3879 18.8124 11.3925 18.7754 11.3891 18.7386V18.7245C11.3866 18.6907 11.3774 18.6578 11.3619 18.6277C11.3465 18.5976 11.325 18.5709 11.299 18.5493C11.2729 18.5277 11.2427 18.5116 11.2103 18.5019C11.1778 18.4923 11.1437 18.4893 11.1101 18.4932C10.9271 18.5135 10.7432 18.5242 10.5592 18.5252Z" fill="#2DA6FE"/>
                            </svg>
                        </div>
                        <div class="font-bold">Restaurante</div>
                        <div>Minim veniam, nostrudMinim veniam consequat. exercitation ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                    <!-- Jugueria -->
                    <div class="col-span-1 border rounded-md p-4 hover:border-blue-500 focus:border-blue-500 cursor-pointer ">
                        <div class="rounded-full w-12 h-12 p-3 flex justify-center items-center border">
                            <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.0105 2.98833C20.8354 2.90039 20.7022 2.74673 20.6399 2.56088C20.5777 2.37505 20.5916 2.17213 20.6784 1.99646L21.4699 0.409176C21.6511 0.0452688 22.0978 -0.10414 22.4617 0.0770737C22.8256 0.258288 22.9751 0.705036 22.7938 1.06894L22.0024 2.65623C21.9145 2.83137 21.7608 2.9646 21.575 3.02683C21.3891 3.08905 21.1862 3.07521 21.0105 2.98833ZM21.7354 4.61482L21.7154 4.55343C21.6563 4.37559 21.6701 4.18158 21.7536 4.01385C21.8372 3.84612 21.9839 3.71833 22.1614 3.65845L25.049 2.69987C25.2269 2.64075 25.4209 2.65449 25.5886 2.73808C25.7563 2.82166 25.8841 2.9683 25.944 3.14588L25.964 3.20727C26.0229 3.38531 26.009 3.57942 25.9253 3.74723C25.8416 3.91504 25.6949 4.04293 25.5172 4.10298L22.6304 5.06083C22.4525 5.11974 22.2586 5.10591 22.0909 5.02235C21.9233 4.93879 21.7954 4.79228 21.7354 4.61482ZM22.1156 6.28939C22.0287 6.46506 22.0149 6.66797 22.0771 6.85381C22.1393 7.03965 22.2725 7.19332 22.4477 7.28125L24.035 8.07268C24.3989 8.25389 24.8456 8.10448 25.0268 7.74058C25.2081 7.37667 25.0586 6.92992 24.6947 6.74871L23.1075 5.95728C22.9318 5.8704 22.7289 5.85656 22.543 5.91879C22.3572 5.98101 22.2035 6.11424 22.1156 6.28939Z" fill="#2DA6FE"/>
                                <path d="M7.67762 23.6001C6.9069 23.3419 5.37139 22.8967 5.69683 20.2894L6.17465 16.4625C6.26415 15.745 7.04522 15.5268 7.89729 15.123C8.63768 14.7716 10.4232 13.5675 10.8625 10.0512C11.2457 6.97721 10.6665 2.12067 10.5149 0.948327L7.1288 0.557053L3.7412 0.165039C3.32552 1.27229 1.65317 5.86773 1.32477 8.94837C0.949768 12.4721 2.41353 14.0519 3.05407 14.563C3.7915 15.1503 4.5023 15.5409 4.42538 16.2598C4.34919 16.9787 4.29446 17.4817 4.01709 20.0949C3.73898 22.7073 2.14208 22.7902 1.33291 22.8656C-0.203345 23.0084 -0.288405 24.2576 0.454203 24.336C1.19829 24.4159 4.32627 24.782 4.32627 24.782C4.32627 24.782 7.45572 25.14 8.19759 25.2317C8.93872 25.3257 9.14064 24.0897 7.67762 23.6001Z" fill="#DFDFDF"/>
                                <path d="M9.63997 2.51306C9.35669 2.6928 7.89514 3.48052 6.13182 3.62845C4.90918 3.732 3.39438 3.57668 3.14585 4.39843C2.64437 6.05598 2.2457 7.52048 2.0852 9.03011C1.78046 11.8889 2.77159 13.2676 3.36479 13.823L3.38106 13.8371C3.45355 13.8955 4.15917 14.4347 5.48906 14.5886C6.81007 14.7417 7.64662 14.3866 7.74277 14.343C7.75313 14.3386 7.75609 14.3363 7.7657 14.3312C8.47059 13.9251 9.74796 12.809 10.1037 9.95763C10.3656 7.85555 10.1548 4.8289 9.96024 2.85922C9.94545 2.70833 9.92326 2.33333 9.63997 2.51306Z" fill="#2DA6FE"/>
                                <path d="M8.58157 5.22124C8.84505 5.22124 9.05864 5.00764 9.05864 4.74416C9.05864 4.48068 8.84505 4.26709 8.58157 4.26709C8.31809 4.26709 8.10449 4.48068 8.10449 4.74416C8.10449 5.00764 8.31809 5.22124 8.58157 5.22124Z" fill="#2DA6FE"/>
                                <path d="M7.02004 6.81059C7.28352 6.81059 7.49712 6.597 7.49712 6.33352C7.49712 6.07004 7.28352 5.85645 7.02004 5.85645C6.75656 5.85645 6.54297 6.07004 6.54297 6.33352C6.54297 6.597 6.75656 6.81059 7.02004 6.81059Z" fill="#2DA6FE"/>
                                <path d="M8.81008 8.64311C9.07356 8.64311 9.28716 8.42952 9.28716 8.16604C9.28716 7.90256 9.07356 7.68896 8.81008 7.68896C8.5466 7.68896 8.33301 7.90256 8.33301 8.16604C8.33301 8.42952 8.5466 8.64311 8.81008 8.64311Z" fill="#2DA6FE"/>
                                <path d="M6.23 9.83403C6.49348 9.83403 6.70708 9.62044 6.70708 9.35696C6.70708 9.09348 6.49348 8.87988 6.23 8.87988C5.96652 8.87988 5.75293 9.09348 5.75293 9.35696C5.75293 9.62044 5.96652 9.83403 6.23 9.83403Z" fill="#2DA6FE"/>
                                <path d="M4.70559 7.856C4.96907 7.856 5.18266 7.64241 5.18266 7.37893C5.18266 7.11545 4.96907 6.90186 4.70559 6.90186C4.44211 6.90186 4.22852 7.11545 4.22852 7.37893C4.22852 7.64241 4.44211 7.856 4.70559 7.856Z" fill="#2DA6FE"/>
                                <path d="M4.45168 5.59966C4.71516 5.59966 4.92876 5.38606 4.92876 5.12258C4.92876 4.8591 4.71516 4.64551 4.45168 4.64551C4.1882 4.64551 3.97461 4.8591 3.97461 5.12258C3.97461 5.38606 4.1882 5.59966 4.45168 5.59966Z" fill="#2DA6FE"/>
                                <path d="M14.8254 24.6736C15.5962 24.4154 17.1317 23.9701 16.8062 21.3629L16.3284 17.5359C16.2389 16.8185 15.4578 16.6003 14.6058 16.1964C13.8654 15.8451 12.0799 14.641 11.6405 11.1247C11.2574 8.05069 11.8365 3.19415 11.9881 2.02181L15.3743 1.63053L18.7604 1.23926C19.1761 2.34651 20.8484 6.94195 21.1768 10.0226C21.5518 13.5463 20.088 15.1262 19.4475 15.6373C18.7101 16.2245 17.9993 16.6151 18.0762 17.334C18.1524 18.053 18.2071 18.5559 18.4845 21.1691C18.7626 23.7815 20.3595 23.8644 21.1687 23.9398C22.7049 24.0826 22.79 25.3318 22.0474 25.4102C21.3033 25.4901 18.1753 25.8563 18.1753 25.8563C18.1753 25.8563 15.0459 26.2142 14.304 26.306C13.5643 26.3992 13.3624 25.1639 14.8254 24.6736Z" fill="#DFDFDF"/>
                                <path d="M12.8628 3.5863C13.1461 3.76604 14.6083 4.55376 16.3709 4.70169C17.5936 4.8045 19.1091 4.64918 19.3576 5.47167C19.8591 7.12922 20.2578 8.59373 20.4183 10.1034C20.723 12.9621 19.7319 14.3408 19.1387 14.8963L19.1224 14.9103C19.0499 14.9688 18.3443 15.508 17.0144 15.6618C15.6934 15.8149 14.8569 15.4599 14.7607 15.4162C14.7503 15.4118 14.7474 15.4096 14.7378 15.4044C14.0329 14.9983 12.7555 13.8822 12.3997 11.0309C12.1379 8.92879 12.3487 5.90214 12.5432 3.93246C12.5573 3.78157 12.5795 3.40657 12.8628 3.5863Z" fill="#2DA6FE"/>
                                <path d="M13.9204 6.29546C14.1839 6.29546 14.3975 6.08186 14.3975 5.81838C14.3975 5.5549 14.1839 5.34131 13.9204 5.34131C13.657 5.34131 13.4434 5.5549 13.4434 5.81838C13.4434 6.08186 13.657 6.29546 13.9204 6.29546Z" fill="#2DA6FE"/>
                                <path d="M15.4829 7.88432C15.7464 7.88432 15.96 7.67073 15.96 7.40725C15.96 7.14377 15.7464 6.93018 15.4829 6.93018C15.2195 6.93018 15.0059 7.14377 15.0059 7.40725C15.0059 7.67073 15.2195 7.88432 15.4829 7.88432Z" fill="#2DA6FE"/>
                                <path d="M13.6919 9.71635C13.9554 9.71635 14.169 9.50276 14.169 9.23928C14.169 8.9758 13.9554 8.76221 13.6919 8.76221C13.4284 8.76221 13.2148 8.9758 13.2148 9.23928C13.2148 9.50276 13.4284 9.71635 13.6919 9.71635Z" fill="#2DA6FE"/>
                                <path d="M16.273 10.9082C16.5365 10.9082 16.75 10.6947 16.75 10.4312C16.75 10.1677 16.5365 9.9541 16.273 9.9541C16.0095 9.9541 15.7959 10.1677 15.7959 10.4312C15.7959 10.6947 16.0095 10.9082 16.273 10.9082Z" fill="#2DA6FE"/>
                                <path d="M17.7974 8.92924C18.0609 8.92924 18.2745 8.71565 18.2745 8.45217C18.2745 8.18869 18.0609 7.9751 17.7974 7.9751C17.5339 7.9751 17.3203 8.18869 17.3203 8.45217C17.3203 8.71565 17.5339 8.92924 17.7974 8.92924Z" fill="#2DA6FE"/>
                                <path d="M18.0513 6.67339C18.3148 6.67339 18.5284 6.45979 18.5284 6.19631C18.5284 5.93283 18.3148 5.71924 18.0513 5.71924C17.7878 5.71924 17.5742 5.93283 17.5742 6.19631C17.5742 6.45979 17.7878 6.67339 18.0513 6.67339Z" fill="#2DA6FE"/>
                            </svg>
                        </div>
                        <div class="font-bold">Juguería</div>
                        <div>Minim veniam, nostrudMinim veniam consequat. exercitation ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                    <!-- Avícola -->
                    <div class="col-span-1 border rounded-md p-4 hover:border-blue-500 focus:border-blue-500 cursor-pointer ">
                        <div class="rounded-full w-12 h-12 p-3 flex justify-center items-center border">
                            <img src="assets/img/seleccionrubro/avicola.svg" alt="">
                        </div>
                        <div class="font-bold">Trasporte Terrestre</div>
                        <div>Minim veniam, nostrudMinim veniam consequat. exercitation ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                    <!-- Colegio -->
                    <div class="col-span-1 border rounded-md p-4 hover:border-blue-500 focus:border-blue-500 cursor-pointer ">
                        <div class="rounded-full w-12 h-12 p-3 flex justify-center items-center border">
                            <svg width="30" height="26" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.17195 14.2054V18.2375C4.17195 19.2849 4.7459 20.2607 5.66424 20.7629L12.8387 24.6801C13.6996 25.1537 14.7328 25.1537 15.5937 24.6801L22.7681 20.7629C23.6865 20.2607 24.2604 19.2849 24.2604 18.2375V14.2054L15.5937 18.9406C14.7328 19.4141 13.6996 19.4141 12.8387 18.9406L4.17195 14.2054ZM12.8387 0.344374L0.742557 6.94488C-0.247519 7.49014 -0.247519 8.92503 0.742557 9.47029L12.8387 16.0708C13.6996 16.5443 14.7328 16.5443 15.5937 16.0708L27.1302 9.77162V18.2518C27.1302 19.041 27.7759 19.6867 28.5651 19.6867C29.3543 19.6867 30 19.041 30 18.2518V9.05417C30 8.52326 29.713 8.04974 29.2539 7.79146L15.5937 0.344374C15.1697 0.118271 14.6967 0 14.2162 0C13.7357 0 13.2626 0.118271 12.8387 0.344374Z" fill="#2DA6FE"/>
                                </svg>
                        </div>
                        <div class="font-bold">Restaurante</div>
                        <div>Minim veniam, nostrudMinim veniam consequat. exercitation ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                    <!-- Ferreteria -->
                    <div class="col-span-1 border rounded-md p-4 hover:border-blue-500 focus:border-blue-500 cursor-pointer ">
                        <div class="rounded-full w-12 h-12 p-3 flex justify-center items-center border">
                            <svg width="28" height="25" viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.34961 8.0816C5.66121 7.0624 6.74929 7.7653 8.20147 9.44662C8.36454 9.6364 8.58384 9.41429 8.70896 9.30604C8.83267 9.19639 10.7488 7.47149 10.8429 7.39276C10.9357 7.30982 11.0482 7.15519 10.9006 6.98227C10.545 6.54247 10.1968 6.09677 9.85608 5.64537C7.31442 2.32068 16.8091 0.0658001 15.3513 0.0306555C14.609 0.0109744 11.6316 -0.0241702 11.186 0.0250324C9.38233 0.214814 7.11761 1.90035 5.97752 2.68619C4.48598 3.70679 3.92928 4.30566 3.83791 4.3886C3.41617 4.75691 3.77043 5.60741 3.00568 6.27797C2.19735 6.98509 1.69268 6.44948 1.22455 6.85997C0.992594 7.06522 0.34312 7.55162 0.157556 7.71328C-0.0294132 7.87776 -0.0631521 8.1547 0.128035 8.37541C0.128035 8.37541 1.90495 10.3379 2.05396 10.5122C2.20157 10.6837 2.60363 10.8327 2.85104 10.612C3.09987 10.3927 3.7395 9.83462 3.84634 9.73621C3.95599 9.64343 3.77605 8.52583 4.34961 8.0816ZM12.3738 8.80839C12.2052 8.61299 11.9957 8.60736 11.8157 8.76762L9.79985 10.5277C9.72202 10.5983 9.67459 10.6963 9.66751 10.8012C9.66044 10.906 9.69426 11.0095 9.76189 11.09L21.4215 24.3592C21.6942 24.6727 22.1666 24.705 22.4772 24.4337L23.8409 23.2908C23.9909 23.1586 24.0828 22.9726 24.0965 22.7731C24.1102 22.5735 24.0446 22.3767 23.914 22.2252L12.3738 8.80839ZM27.9204 3.16134C27.8164 2.46689 27.4565 2.61168 27.2696 2.90549C27.0826 3.20211 26.256 4.45467 25.9158 5.02261C25.5784 5.58492 24.7462 6.6969 23.197 5.59898C21.5832 4.45889 22.1441 3.66321 22.4252 3.12761C22.7078 2.58919 23.5752 1.07937 23.7003 0.892403C23.8254 0.702622 23.6792 0.151553 23.1787 0.382102C22.6769 0.612651 19.6319 1.82303 19.2102 3.55918C18.7786 5.32485 19.5715 6.90355 18.0153 8.471L16.1273 10.4391L18.0237 12.6406L20.3489 10.4335C20.9028 9.87679 22.0864 9.33556 23.1576 9.58017C25.4533 10.0989 26.7058 9.23716 27.4608 7.81169C28.1383 6.53805 28.0259 3.8558 27.9204 3.16134ZM3.79292 22.3686C3.65231 22.5103 3.5734 22.7018 3.5734 22.9014C3.5734 23.101 3.65231 23.2925 3.79292 23.4342L5.12983 24.7416C5.42223 25.0354 5.88614 24.9117 6.17854 24.6179L13.0767 17.8364L10.9638 15.4268L3.79292 22.3686Z" fill="#2DA6FE"/>
                            </svg>
                        </div>
                        <div class="font-bold">Juguería</div>
                        <div>Minim veniam, nostrudMinim veniam consequat. exercitation ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>


                </div>
            </section>
        </div>

    </div>

</header>