<div class="flex flex-wrap w-full ">
    <nav class="  flex flex-col lg:py-3 justify-center text-center   md:grid md:grid-cols-7 grid-cols-1  w-full  shadow-lg border-b-2 md:p-3">
        <!-- logo -->
        <button [routerLink]="['home']" class="focus:outline-none col-span-1 flex flex-col md:flex-row items-center lg:pl-20 md:pl-0">
            <!-- imagen svg -->
            <button class="focus:outline-none"  >
                <svg class="object-cover w-16" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d)">
                    <path d="M45 24.5C45 35.2695 36.2695 44 25.5 44C14.7304 44 6 35.2695 6 24.5C6 13.7304 14.7304 5 25.5 5C36.2695 5 45 13.7304 45 24.5Z" fill="white"/>
                    </g>
                    <path d="M21.5697 19.772C21.8459 19.6056 22.9849 19.6583 22.9849 19.6583V20.2266L21.7269 20.9085L20.4688 20.5675C20.4688 20.5675 20.626 20.3402 21.5697 19.772Z" fill="#151515"/>
                    <path d="M29.6149 14.7744C29.6149 17.0315 27.7843 18.8612 25.5262 18.8612C23.2681 18.8612 21.4375 17.0315 21.4375 14.7744C21.4375 12.5173 23.2681 10.6875 25.5262 10.6875C27.7843 10.6875 29.6149 12.5173 29.6149 14.7744Z" fill="#151515"/>
                    <path d="M21.7252 29.4702V20.9271C21.7252 20.3632 21.0578 20.0695 20.6464 20.4525L9.35075 30.967C9.08866 31.211 9.07448 31.6232 9.31917 31.8848L13.5707 36.4307C13.8155 36.6924 14.2253 36.703 14.4831 36.4544L21.7252 29.4702Z" fill="#151515"/>
                    <path d="M28.6445 35.6212L32.4187 34.748C32.4187 34.748 30.8627 36.5416 30.1885 37.1057C29.1592 37.9669 28.6445 37.8915 28.6445 37.8915V35.6212Z" fill="#151515"/>
                    <path d="M29.208 19.6504H22.4225C22.0381 19.6504 21.7266 19.9447 21.7266 20.3078V37.2349C21.7266 37.598 22.0381 37.8923 22.4225 37.8923H29.208C29.5924 37.8923 29.904 37.598 29.904 37.2349V20.3078C29.904 19.9447 29.5924 19.6504 29.208 19.6504Z" fill="#2DA6FE"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M21.7266 20.4576C21.7266 20.0118 22.1001 19.6504 22.561 19.6504H29.0695C29.5304 19.6504 29.904 20.0118 29.904 20.4576V37.0851C29.904 37.5309 29.5304 37.8923 29.0695 37.8923H22.561C22.1001 37.8923 21.7266 37.5309 21.7266 37.0851V20.4576ZM22.561 19.9733C22.2845 19.9733 22.0603 20.1901 22.0603 20.4576V37.0851C22.0603 37.3526 22.2845 37.5694 22.561 37.5694H29.0695C29.3461 37.5694 29.5702 37.3526 29.5702 37.0851V20.4576C29.5702 20.1901 29.3461 19.9733 29.0695 19.9733H22.561Z" fill="#2DA6FE"/>
                    <path d="M29.9023 27.098V36.0043C29.9023 36.5567 30.5699 36.8404 30.9739 36.4599L42.2857 25.8071C42.5415 25.5661 42.5496 25.1647 42.3038 24.9137L37.9502 20.4701C37.7092 20.224 37.3135 20.2148 37.061 20.4493L29.9023 27.098Z" fill="#151515"/>
                    <defs>
                    <filter id="filter0_d" x="0" y="0" width="51" height="51" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                    <feOffset dy="1"/>
                    <feGaussianBlur stdDeviation="3"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                    </filter>
                    </defs>
                </svg>
            </button>
        <!-- Nombre de la empresa -->
        <div class="text-black font-bold text-3xl">Innova<span class="text-blue-500">TED</span>
        </div>
        </button>
        <!-- Categorias -->
        <div class="flex flex-col md:flex-row   flex-wrap justify-end col-span-4 text-semibold text-black font-bold items-center lg:gap-11 md:gap-4 ">
            <div class="dropdown ">
                <button class="dropbtn flex items-center gap-1 text-semibold text-black font-bold hover:text-blue-500 hover:underline ">Sistemas
                    <img class="pt-1" src="assets/img/tri.svg" alt="">
                </button>

                <div class="dropdown-content">
                    <a [routerLink]="['factesol']">FacTEDSOL</a>
                    <a [routerLink]="['factuted']">factuTED</a>
                </div>
            </div>
            <div class=" pb-3 md:pb-0 hover:text-blue-500  ">
                <button class="font-bold text-base focus:outline-none">Consulta Comprobante</button>
            </div>
        </div>
        <!-- Inicio y Registro -->
        <div class="flex mb-3  flex-col md:flex-row flex-wrap justify-end col-span-2 gap-2 items-center mr-4 ">
            <button [routerLink]="['inicio']" class="focus:outline-none px-4 py-2 rounded-md bg-blue-500 hover:bg-blue-700 text-white">
                Iniciar Sesión
            </button>
            <button class="focus:outline-none px-4 py-2 rounded-md bg-white hover:border-blue-700 hover:text-blue-700 font-medium border border-blue-500 text-blue-500">
                Registrate Gratis
            </button>
        </div>
    </nav>
    <!-- Contactanos -->
    <div class="flex flex-col   md:flex-row bg-black   w-full text-white items-center p-2 justify-center space-y-3 md:space-y-0 md:gap-12">
        <div class="flex">Contactanos:
        </div>
        <div class="flex space-x-2 items-center md:gap-0">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.65809 0.00880458C2.92991 0.184161 -0.0112016 3.26342 3.2073e-05 6.96485C0.00187903 8.05437 0.262986 9.12785 0.761815 10.0967L0.0189889 13.6747C0.00992534 13.7194 0.0122986 13.7657 0.025889 13.8093C0.0394794 13.8529 0.0638481 13.8923 0.096742 13.924C0.129636 13.9557 0.169993 13.9785 0.214081 13.9905C0.258169 14.0025 0.304565 14.0031 0.348978 13.9924L3.88337 13.162C4.81947 13.6241 5.84712 13.8714 6.89119 13.8858C10.7015 13.944 13.8778 10.9433 13.9965 7.16616C14.1243 3.11542 10.7549 -0.185491 6.65809 0.00810304V0.00880458ZM10.8756 10.7876C10.3662 11.2947 9.7617 11.6964 9.09664 11.9696C8.43159 12.2428 7.7191 12.3822 7.00001 12.3799C6.15399 12.3825 5.31895 12.1884 4.5609 11.8131L4.06873 11.5697L1.90133 12.0789L2.3577 9.88278L2.11477 9.41142C1.72096 8.64879 1.51674 7.80264 1.51939 6.94451C1.51939 5.49256 2.08949 4.12688 3.1244 3.10069C4.15592 2.08061 5.54859 1.5082 7.00001 1.50775C8.4646 1.50775 9.84073 2.0731 10.8756 3.09999C11.3855 3.60196 11.7901 4.20042 12.0658 4.86041C12.3415 5.52039 12.4828 6.22866 12.4813 6.94381C12.4813 8.38313 11.9021 9.77055 10.8756 10.7883V10.7876Z" fill="white"/>
                <path d="M10.3977 8.44918L9.04196 8.06339C8.95448 8.03831 8.86185 8.03718 8.77378 8.06013C8.6857 8.08309 8.60543 8.12927 8.54136 8.19386L8.20997 8.52914C8.1414 8.59853 8.05388 8.64618 7.95835 8.66614C7.86281 8.6861 7.76351 8.67749 7.67286 8.64137C7.03184 8.38395 5.68239 7.19433 5.33766 6.59882C5.28933 6.5147 5.26726 6.41809 5.27426 6.32136C5.28127 6.22463 5.31704 6.1322 5.37698 6.05591L5.66624 5.68416C5.72193 5.61293 5.75717 5.5279 5.76818 5.43819C5.77918 5.34849 5.76555 5.25748 5.72873 5.17492L5.15862 3.89552C5.12638 3.82401 5.07797 3.76095 5.01721 3.71129C4.95644 3.66163 4.88498 3.62672 4.80843 3.60932C4.73188 3.59192 4.65233 3.59249 4.57604 3.61099C4.49975 3.6295 4.4288 3.66542 4.36875 3.71595C3.99032 4.0337 3.54097 4.51558 3.48691 5.05077C3.39072 5.99278 3.79794 7.1803 5.33836 8.607C7.1182 10.2547 8.54417 10.4728 9.47165 10.249C9.99823 10.1228 10.4195 9.61565 10.6842 9.20111C10.7265 9.13526 10.7528 9.06041 10.7609 8.98257C10.769 8.90473 10.7587 8.82608 10.7308 8.75294C10.703 8.6798 10.6583 8.61422 10.6005 8.56146C10.5426 8.5087 10.4732 8.47024 10.3977 8.44918Z" fill="white"/>
            </svg> <span>WhatsApp: 995 050 200</span>
        </div>
        <div class="flex space-x-2  items-center md:gap-0">
            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.25 0.108809L1.75 4.34096C0.7875 4.69364 0 5.92801 0 6.98605V14.6568C0 15.7149 0.7875 16.2439 1.75 15.8912L12.25 11.659C13.2125 11.3064 14 10.072 14 9.01395V1.34319C14 0.285149 13.2125 -0.24387 12.25 0.108809ZM12.775 2.40122L7.525 10.601L1.6625 6.63337C1.575 6.5452 1.3125 6.28069 1.4875 6.01618C1.6625 5.6635 2.1 5.83984 2.1 5.83984L7.6125 7.86775C7.6125 7.86775 11.8125 2.31305 12.075 1.96037C12.1625 1.78403 12.425 1.69586 12.6875 1.8722C12.95 2.04854 12.8625 2.31305 12.775 2.40122Z" fill="white"/>
            </svg><span>Correo: cotizaciones@innovated.pe</span>
        </div>
    </div>
</div>