<header class="bg-gray-100 p-2 lg:p-3">
    <section class="grid grid-cols-2 md:grid-rows-2 md:grid-cols-9 lg:p-2 gap-4">
        <!-- Datos del usuario -->
        <div class="row-span-2 col-span-2 md:col-span-3 lg:col-span-3 grid grid-cols-2 bg-white rounded-xl">
            <div class=" col-span-2 p-3 px-8 ">
                <!-- foto -->
                <div class="flex justify-center pt-5">
                    <img src="assets/img/micuenta/yo.png" alt="">
                </div>
                <!-- Agregar y elimnar foto -->
                <div class="flex justify-center gap-3 pt-3">
                    <button class="focus:outline-none bg-black hover:bg-gray-900 rounded-xl p-3">
                        <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.6087 2.5V0H4.34783V2.5H6.95652V4.16667H4.34783V6.66667H2.6087V4.16667H0V2.5H2.6087ZM5.21739 7.5V5H7.82609V2.5H13.913L15.5043 4.16667H18.2609C19.2174 4.16667 20 4.91667 20 5.83333V15.8333C20 16.75 19.2174 17.5 18.2609 17.5H4.34783C3.3913 17.5 2.6087 16.75 2.6087 15.8333V7.5H5.21739ZM11.3043 15C13.7043 15 15.6522 13.1333 15.6522 10.8333C15.6522 8.53333 13.7043 6.66667 11.3043 6.66667C8.90435 6.66667 6.95652 8.53333 6.95652 10.8333C6.95652 13.1333 8.90435 15 11.3043 15ZM8.52174 10.8333C8.52174 12.3083 9.76522 13.5 11.3043 13.5C12.8435 13.5 14.087 12.3083 14.087 10.8333C14.087 9.35833 12.8435 8.16667 11.3043 8.16667C9.76522 8.16667 8.52174 9.35833 8.52174 10.8333Z" fill="white"/>
                        </svg>
                    </button>
                    <button class="focus:outline-none bg-black hover:bg-gray-900 rounded-xl p-3">
                        <svg width="16" height="16" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 2L7 7L2 12" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 2L7 7L12 12" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>

                <!-- Nombre -->
                <div class="border-b-2 border-gray-300 py-5  ">
                    <div class="flex justify-center">
                        <div class="text-center">Manuel Valentino Gomez Saldaña</div>
                    </div>
                </div>
                <!-- Correo -->
                <div class="border-b-2 border-gray-300 py-5  ">
                    <div class="flex md:grid md:grid-cols-1  lg:items-center lg:flex lg:flex-wrap lg:flex-auto lg:justify-start justify-start items-center gap-3 pl-3 md:gap-2 md:pl-1 lg:gap-3 lg:pl-1 ">
                        <div class="flex md:col-span-1 md:justify-center lg:flex justify-start  ">
                            <svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M22.5 0H1.5C1.10218 0 0.720644 0.158035 0.43934 0.43934C0.158035 0.720644 0 1.10218 0 1.5V16.5C0 16.8978 0.158035 17.2794 0.43934 17.5607C0.720644 17.842 1.10218 18 1.5 18H22.5C22.8978 18 23.2794 17.842 23.5607 17.5607C23.842 17.2794 24 16.8978 24 16.5V1.5C24 1.10218 23.842 0.720644 23.5607 0.43934C23.2794 0.158035 22.8978 0 22.5 0ZM21.345 16.5H2.745L7.995 11.07L6.915 10.0275L1.5 15.63V2.64L10.8225 11.9175C11.1035 12.1969 11.4837 12.3537 11.88 12.3537C12.2763 12.3537 12.6565 12.1969 12.9375 11.9175L22.5 2.4075V15.5325L16.98 10.0125L15.9225 11.07L21.345 16.5ZM2.4825 1.5H21.285L11.88 10.8525L2.4825 1.5Z" fill="black"/>
                            </svg>
                        </div>
                        <div class="flex md:col-span-1 md:justify-center lg:flex justify-center ">
                            alexander12@gmail.com
                        </div>
                    </div>
                </div>

                <!-- cel -->
                <div class="border-b-2 border-gray-300 py-5  ">
                    <div class="flex md:grid md:grid-cols-1  lg:items-center lg:flex lg:flex-wrap lg:flex-auto lg:justify-start justify-start items-center gap-3 pl-3 md:gap-2 md:pl-1 lg:gap-3 lg:pl-1 ">
                        <div class="flex md:col-span-1 md:justify-center lg:flex justify-start  ">
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.0115 21.5128C16.7973 21.5122 16.5839 21.4888 16.3748 21.4428C12.3931 20.6192 8.72493 18.688 5.79244 15.8715C2.92252 13.0488 0.932083 9.45498 0.0619434 5.52476C-0.0406571 5.03494 -0.0154749 4.52695 0.135067 4.04968C0.28561 3.5724 0.556445 3.1419 0.921518 2.79959L3.4684 0.348213C3.59849 0.22519 3.75306 0.130982 3.92202 0.0717368C4.09097 0.0124916 4.27053 -0.010459 4.44896 0.00438297C4.63397 0.0236839 4.8125 0.0832813 4.972 0.178984C5.13151 0.274687 5.26811 0.404171 5.3722 0.558331L8.55581 5.26371C8.6752 5.44628 8.73283 5.66236 8.72022 5.88014C8.70761 6.09792 8.62543 6.3059 8.48577 6.47348L6.8876 8.38364C7.5241 9.79236 8.4255 11.0656 9.54273 12.1339C10.6527 13.2411 11.9647 14.1251 13.4076 14.7381L15.3878 13.1654C15.5542 13.034 15.7565 12.9563 15.9681 12.9426C16.1796 12.929 16.3903 12.98 16.5721 13.089L21.3794 16.1962C21.5444 16.2947 21.6849 16.4293 21.7905 16.5898C21.8961 16.7503 21.964 16.9327 21.9891 17.1232C22.0142 17.3136 21.9959 17.5073 21.9355 17.6898C21.8751 17.8722 21.7743 18.0385 21.6404 18.1764L19.1572 20.6342C18.8752 20.9149 18.5404 21.137 18.1721 21.2878C17.8038 21.4386 17.4094 21.5151 17.0115 21.5128ZM4.34708 1.26509L1.80019 3.71647C1.59482 3.90784 1.44279 4.14937 1.35906 4.4173C1.27533 4.68523 1.26279 4.97035 1.32265 5.2446C2.13175 8.93258 3.99161 12.3073 6.67748 14.961C9.43716 17.6107 12.8891 19.4272 16.6358 20.2012C16.9194 20.2605 17.2133 20.2485 17.4911 20.1662C17.7689 20.084 18.022 19.9341 18.2276 19.73L20.7108 17.2723L16.0691 14.2733L13.9425 15.967C13.8611 16.0314 13.7651 16.075 13.663 16.0938C13.5609 16.1127 13.4558 16.1063 13.3567 16.0752C11.5909 15.4246 9.99064 14.3919 8.67042 13.0508C7.30488 11.7756 6.24491 10.2085 5.56959 8.46642C5.54102 8.36095 5.54007 8.24991 5.56683 8.14397C5.59359 8.03804 5.64717 7.94077 5.7224 7.86153L7.44155 5.80492L4.34708 1.26509Z" fill="black"/>
                            </svg>
                        </div>
                        <div class="flex md:col-span-1 md:justify-center lg:flex justify-center ">
                            951 265 374
                        </div>
                    </div>
                </div>
                <!-- usuario -->
                <div class="py-5 felx items-center ">
                    <div class="flex md:grid md:grid-cols-1 lg:flex lg:items-center  lg:flex-wrap lg:flex-auto lg:justify-start justify-start items-center gap-3 pl-3 md:gap-2 md:pl-1 lg:gap-3 lg:pl-1 ">
                        <div class="flex md:col-span-1 md:justify-center lg:flex justify-start  ">
                            <svg width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 11.4286C13.1562 11.4286 15.7143 8.87053 15.7143 5.71429C15.7143 2.55804 13.1562 0 10 0C6.84375 0 4.28571 2.55804 4.28571 5.71429C4.28571 8.87053 6.84375 11.4286 10 11.4286ZM14.2768 12.8839L12.1429 21.4286L10.7143 15.3571L12.1429 12.8571H7.85714L9.28571 15.3571L7.85714 21.4286L5.72321 12.8839C2.54018 13.0357 0 15.6384 0 18.8571V20.7143C0 21.8973 0.959821 22.8571 2.14286 22.8571H17.8571C19.0402 22.8571 20 21.8973 20 20.7143V18.8571C20 15.6384 17.4598 13.0357 14.2768 12.8839Z" fill="black"/>
                            </svg>
                        </div>
                        <div class="flex md:col-span-1 md:justify-center lg:flex justify-center ">
                            MANUEL
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Editar Informacion -->
        <div class="row-span-1 col-span-2 md:col-span-6  md:grid md:grid-cols-7">
            <div class="col-span-7 md:grid md:grid-rows-7 md:grid-cols-7  ">
                <!-- Titulo -->
                <label class="col-span-7 row-span-1 text-gray-400 text-sm font-semibold">Editar Información</label>
                <!-- Imputs -->
                <div class="col-span-7 grid grid-cols-7 row-span-6  rounded-xl bg-white px-5 lg:pl-14 md:pl-9 pt-8">
                    <div class="col-span-7  row-span-3 grid grid-cols-8 w-full  lg:gap-14 md:gap-3  ">
                        <div class="col-span-8 md:col-span-3">
                            <div class="text-gray-500">Nombres</div>
                            <input class="w-full bg-gray-100 rounded-md" type="text" placeholder="Manuel Valentino">
                        </div>
                        <div class="col-span-8 md:col-span-3">
                            <div class="text-gray-500">Apellidos</div>
                            <input class="w-full bg-gray-100 rounded-md" type="text" placeholder="Gomez Saldaña">
                        </div>
                    </div>
                    <div class="col-span-7  row-span-3 grid grid-cols-8 w-full lg:gap-14 md:gap-3  ">
                        <div class="col-span-8 md:col-span-3">
                            <div class="text-gray-500">Correo</div>
                            <input class="w-full bg-gray-100 rounded-md" type="text" placeholder="manuelvalen@hotmail.com">
                        </div>
                        <div class=" col-span-8 md:col-span-3">
                            <div class="text-gray-500">Número</div>
                            <input class="w-full bg-gray-100 rounded-md" type="text" placeholder="951265374">
                        </div>
                        <div class=" col-span-8 md:col-span-2 flex justify-center items-center lg:pb-3 md:pb-8 my-3 md:my-0 ">
                            <button class="bg-blue-500 hover:bg-blue-600 text-white px-5 py-2 lg:px-7 lg:py-2 md:px-5 md:py-2 rounded-md focus:outline-none ">Guardar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Cambiar Contraseña -->
        <div class="row-span-1 col-span-2 md:col-span-6 md:grid md:grid-cols-7">
            <div class="col-span-7 md:grid md:grid-rows-7 md:grid-cols-7  ">
                <!-- Titulo -->
                <label class="col-span-7 row-span-1 text-gray-400 text-sm font-semibold">Cambiar Contraseña</label>
                <!-- Imputs -->
                <div class="col-span-7 grid grid-cols-7 row-span-6  rounded-xl bg-white px-5 lg:pl-14 md:pl-9 pt-8">
                    <div class="col-span-7  row-span-3 grid grid-cols-8 w-full lg:gap-14 md:gap-3  ">
                        <div class="col-span-8 md:col-span-3">
                            <div class="text-gray-500">Usuario</div>
                            <input class="w-full bg-gray-100 rounded-md" type="text" placeholder="Manuel Valentino">
                        </div>
                        <div class="col-span-8 md:col-span-3">
                            <div class="text-gray-500">Contraseña Actual</div>
                            <input class="w-full bg-gray-100 rounded-md" type="password" placeholder="***********">
                        </div>
                    </div>
                    <button (click)="onCambiar()" class="focus:outline-none col-span-7 hover:underline text-blue-400 flex">Cambiar Contraseña</button>
                    <div *ngIf="cambiarcontra === true" [class.showingData]="cambiarcontra === false" class="col-span-7 ">
                        <div class="col-span-7    row-span-3 grid grid-cols-8 w-full lg:gap-14 md:gap-3  ">
                            <div class="col-span-8 md:col-span-3">
                                <div class="text-gray-500">Nueva Contraseña</div>
                                <input class="w-full bg-gray-100 rounded-md" type="password" placeholder="b********a">
                            </div>
                            <div class="col-span-8 md:col-span-3">
                                <div class="text-gray-500">Confirmar Contraseña</div>
                                <input class="w-full bg-gray-100 rounded-md" type="password" placeholder="b********a">
                            </div>
                            <div (click)="onGuardar()" class="col-span-8 my-2 md:my-0 md:col-span-2 flex justify-center items-center md:pt-5 ">
                                <button class="focus:outline-none bg-blue-500 hover:bg-blue-600 text-white px-7 py-2 rounded-md">Guardar</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
</header>