<header class="">
    <!-- Menus del inicio -->
    <div class="flex flex-col justify-center md:flex-row   flex-wrap  col-span-4 text-semibold text-black font-bold items-center lg:gap-11 md:gap-4 ">
        <div class="dropdown ">
            <button [routerLink]=" ['/bienvenidafactesol'] " class="dropbtn flex items-center gap-1 text-semibold text-black font-bold hover:text-blue-500 hover:underline ">FacTEDSOL
                <img class="pt-1" src="assets/img/tri.svg" alt="">
            </button>

            <div class="dropdown-content">
                <a [routerLink]="['/documentos']">Mis Documentos</a>
                <a [routerLink]="['/certificado']">Certificado Digital</a>
            </div>
        </div>
        <div class="dropdown ">
            <button [routerLink]=" ['/bienvenidafactuted'] " class="dropbtn flex items-center gap-1 text-semibold text-black font-bold hover:text-blue-500 hover:underline ">FactuTED
                <img class="pt-1" src="assets/img/tri.svg" alt="">
            </button>

            <div class="dropdown-content">
                <a [routerLink]="['/misdocumentos']">Mis Documentos</a>
                <a [routerLink]="['/certificado']">Certificado Digital</a>
            </div>
        </div>
        <div class="dropdown ">
            <button [routerLink]=" ['/bienvenidafactuted'] " class="dropbtn flex items-center gap-1 text-semibold text-black font-bold hover:text-blue-500 hover:underline ">Mi cuenta
                <img class="pt-1" src="assets/img/tri.svg" alt="">
            </button>

            <div class="dropdown-content">
                <a [routerLink]="['/micuenta']">Mi Cuenta</a>
                <a [routerLink]="['']">Pagos</a>
                <a [routerLink]="['']">Ayuda</a>
            </div>
        </div>

    </div>
    <!-- bienvenido -->
    <section class="bg-gray-100 md:p-7 p-3   ">
        <div class="grid grid-cols-1 md:grid-cols-2 rounded-md adorno shadow-lg border  bg-white">
            <div class="col-span-1 md:col-span-2 grid grid-cols-1 md:grid-cols-2">
                <!-- imagen -->
                <div class=" col-span-1 justify-end flex items-center">
                    <img class=" " src="assets/img/inicio/bienvenido.svg" alt="">
                </div>
                <!-- contenido -->
                <div class=" col-span-1 md:p-7   md:mt-16 p-2 space-y-5 ">
                    <div class="font-bold md:text-5xl text-3xl text-center md:text-left">Hola, bienvenido a InnovaTED</div>
                    <div>Estamos muy contentos de que hayas desicido unirtenos cada dia nos convertimos en una gran familia. Puedes comenzar seleccionando uno de nuestros sistemas que tenemos para ti.</div>
                    <div class="pt-4 grid grid-cols-2">

                        <div class="space-y-3  col-span-1 grid grid-cols-1 border-r-2  md:px-2">
                            <div class="col-span-1 flex   items-center  justify-center md:justify-start lg:gap-4 gap-1 md:gap-1">
                                <span class=" p-2 rounded-md bg-red-500 text-white  text-3xl ">FS</span>
                                <div class="font-bold text-black lg:text-xl md:text-sm text-xs ">FacTEDSOL</div>
                            </div>
                            <div [routerLink]=" ['/bienvenidafactesol'] " class="flex col-span-1 justify-center items-center md:justify-start">
                                <button class="flex  focus:outline-none bg-black hover:bg-gray-900 text-white px-5 py-2 lg:px-14 lg:py-3 md:px-8 md:py-2 rounded-full"> Elegir</button>
                            </div>
                        </div>

                        <div class="space-y-3  col-span-1 grid grid-cols-1 lg:px-10 md:px-2">
                            <div class="col-span-1 flex   items-center  justify-center md:justify-start lg:gap-4 gap-1 md:gap-1">
                                <span class=" p-2 rounded-md bg-blue-500 text-white  text-3xl ">FT</span>
                                <div class="font-bold text-black lg:text-xl md:text-sm text-xs ">FactuTED</div>
                            </div>
                            <div class="flex col-span-1 justify-center items-center md:justify-start">
                                <button [routerLink]=" ['/bienvenidafactuted'] " class="flex  focus:outline-none bg-black hover:bg-gray-900 text-white px-5 py-2 lg:px-14 lg:py-3 md:px-8 md:py-2 rounded-full"> Elegir</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</header>