<header class="pt-4 adorno w-full">
    <button [routerLink]="['/home']" class="focus:outline-none"><img class="lg:pl-9" src="assets/img/factesol/volver.svg" alt=""></button>
    <!-- Infor de Factesol -->
    <section class="grid grid-cols-2 lg:mx-24 mx-2  md:mx-3  gap-6 pb-7">
        <div class="col-span-2 grid grid-cols-2">
            <div class="col-span-2 flex md:hidden justify-center lg:pl-10">
                <img class="object-cover w-48 " src="assets/img/factesol/lap.svg" alt="">
            </div>
            <div class="col-span-2 md:col-span-1   space-y-6">
                <div class="font-bold text-2xl">¿Qué es FacTEDSOL?</div>
                <div class="text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaUt ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea consequat. . Ut enim ad minim
                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
                <div class="flex w-full justify-between items-center ">
                    <button class="focus:outline-none bg-black text-white hover:bg-blue-500 px-8 py-2 rounded-full font-semibold text-sm">Cotizar Ahora</button>
                    <div> <img class="object-scale-down w-56" src="assets/img/factesol/ticket-precio.svg" alt=""> </div>
                </div>
            </div>
            <div class="hidden md:flex col-span-1 justify-end lg:pl-10">
                <img class="object-scale-down  " src="assets/img/factesol/lap.svg" alt="">
            </div>
        </div>
        <div class="col-span-2 grid grid-cols-2 md:grid-cols-4 gap-6 ">
            <div class="col-span-1 border bg-white border-gray-300 shadow-md text-center rounded-md">
                <div class=" px-3 py-4  flex flex-col space-y-1 ">
                    <div class="flex justify-center pb-2"><img src="assets/img/factesol/velocidad.svg" alt=""></div>
                    <div class="font-bold">Velocidad de Procesos</div>
                    <div>Aliquip ex ea commodo consequat</div>
                </div>
            </div>
            <div class="col-span-1 border bg-white border-gray-300 shadow-md text-center rounded-md">
                <div class=" px-3 py-4  flex flex-col space-y-1 ">
                    <div class="flex justify-center pb-2"><img src="assets/img/factesol/carrito.svg" alt=""></div>
                    <div class="font-bold">2 Modulos de Ventas</div>
                    <div>Aliquip ex ea commodo consequat</div>
                </div>
            </div>
            <div class="col-span-1 border bg-white border-gray-300 shadow-md text-center rounded-md">
                <div class=" px-3 py-4  flex flex-col space-y-1 ">
                    <div class="flex justify-center pb-2"><img src="assets/img/factesol/doc.svg" alt=""></div>
                    <div class="font-bold">Control de Comprobantes</div>
                    <div>Aliquip ex ea commodo consequat</div>
                </div>
            </div>
            <div class="col-span-1 border bg-white border-gray-300 shadow-md text-center rounded-md">
                <div class=" px-3 py-4  flex flex-col space-y-1 ">
                    <div class="flex justify-center pb-2"><img src="assets/img/factesol/reporte.svg" alt=""></div>
                    <div class="font-bold">Reportes confiables</div>
                    <div>Aliquip ex ea commodo consequat</div>
                </div>
            </div>

        </div>
    </section>
    <!-- Nuestras Versiones -->
    <section class="pt-20 lg:mx-24 gap-6 pb-7 grid grid-cols-2">
        <div class="col-span-2 text-center flex flex-col pb-5 space-y-4 ">
            <div class="font-bold text-2xl">Nuestras Versiones</div>
            <div class="text-gray-600">Para cualquier situación contamos con 2 versiones que pueden ayudarte en tu negocio</div>
        </div>
        <div class="col-span-2 px-2 gap-2  lg:gap-20 grid grid-cols-2 lg:px-12">
            <div class="border bg-white shadow-md col-span-1 rounded-md  p-4 md:p-10 space-y-5">
                <div class="flex  gap-4 items-center">
                    <div class="bg-red-600 text-white py-3 text-xl  px-3 rounded-md">FS</div>
                    <div class="md:text-lg text-sm">FacTEDSOL [Lite]</div>
                </div>
                <div class="">Lorem ipsum amet, adipiscing elit, eiusmod ad incididunt dolore ad magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</div>
                <div class="">
                    <button class="rounded-full px-5 py-2 bg-black text-white hover:bg-gray-600 focus:outline-none">Probar Demo</button>
                </div>
            </div>
            <div class="border bg-white shadow-md col-span-1 rounded-md  p-4 md:p-10 space-y-5">
                <div class="flex  gap-4 items-center">
                    <div class="bg-red-600 text-white py-3 text-xl  px-3 rounded-md">FS</div>
                    <div class="md:text-lg text-sm">FacTEDSOL [Integración]</div>
                </div>
                <div class="">Lorem ipsum amet, adipiscing elit, eiusmod ad incididunt dolore ad magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</div>
                <div class="">
                    <button class="rounded-full px-5 py-2 bg-black text-white hover:bg-gray-600 focus:outline-none">Probar Demo</button>
                </div>
            </div>
        </div>
    </section>
    <!-- App Movil -->
    <section class=" flex flex-col  justify-center pt-20 lg:mx-24 gap-6 pb-7 ">
        <div class="text-center px-10 space-y-3 ">
            <div class="text-black font-bold text-3xl">APP MOVIL</div>
            <div>Te presentamos nuestra app movil fácil e intuitiva para poder seguir realizando tus operaciones.</div>
        </div>
        <div class="flex justify-center  mb-5 ">
            <img useMap="#image-map" src="assets/img/factesol/appmovil.svg" alt="">
            <map name="#image-map">
                    <area title="Sincronización con la Web en tiempo real." coords="110,39,36" shape="circle" >
                    <area title="La velocidad se mantiene igual que en la Web"  coords="39,189,36" shape="circle">
                    <area title="Comparte tus comprobantes por Whattsapp"  coords="110,339,36" shape="circle">
                    <area title="Muchas más herramientas de ayuda"  coords="596,339,37" shape="circle">
                    <area title="Descarga tus reportes con facilidad"  coords="666,189,35" shape="circle">
                    <area title="Alertas notificadoras por mantenimiento"  coords="596,39,36" shape="circle">
            </map>
        </div>
        <div class="grid grid-rows-2 space-y-4  justify-center mx-6">
            <button class="row-span-1 focus:outline-none  space-x-3 lg:mx-14 mx-5 bg-black text-white hover:bg-gray-900 px-2 py-3 justify-center items-center text-base flex text-center rounded-full">
                        <img src="assets/img/factesol/desapp.svg" alt="">
                        <span class="">Descargar App</span>
                </button>
            <div class="row-span-1 tracking-wide text-lg">
                Obten nuestra app desde la Playstore
            </div>
        </div>
    </section>

</header>