<header class="pt-4 adorno w-full ">

    <!-- iNGRESA TU RUC -->
    <section class="mx-1   grid col-span-2 md:grid-cols-5 pt-8 pb-12">

        <div class="col-span-2 md:col-span-3 md:mx-12 lg:mx-16 lg:pl-10 space-y-10 pt-6 ">
            <div class="text-black  text-xl mx-2 lg:mx-0 text-center md:text-left md:text-3xl font-bold">Averigua si estas obligado a Facturación Electrónica</div>
            <div class="md:hidden col-span-2 flex justify-center">
                <img class="object-cover w-56" src="assets/img/atenc.svg" alt="">
            </div>
            <div class="grid grid-cols-5">
                <div class="col-span-5">
                    <div class="font-bold">Ingresa tu RUC</div>
                </div>
                <div class="col-span-5 grid grid-cols-5 gap-12 ">
                    <div class="col-span-3"><input class="w-full  border-gray-400 rounded-md" type="number" placeholder="0000000"></div>
                    <button class="focus:outline-none col-span-2 lg:mx-2 md:mx-0  rounded-full px-3 py-2 bg-black hover:bg-gray-900 text-white">Consultar</button>
                </div>
            </div>
            <div class="bg-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
        </div>
        <div class="hidden col-span-2 md:flex justify-center">
            <img src="assets/img/atenc.svg" alt="">
        </div>
    </section>

    <!-- INFO DE NUESTROS SISTEMAS -->
    <section class="bg-gray-100 bg-opacity-50 ">
        <div class="mx-1 md:mx-1 lg:mx-0">
            <!-- Titulo info -->
            <div class="flex justify-center lg:text-4xl md:text-3xl font-bold lg:pt-14 md:pt-10">¿ Ya conoces a nuestros sistemas ?</div>
            <!-- breve descripcion -->
            <div class="flex justify-center pb-14 lg:mx-56">
                <div class="flex text-center md:mx-10 pt-2 lg:mx-16 text-sm font-normal  text-gray-500 flex-col lg:pt-5 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam laborum. </div>
            </div>
            <!-- secciones -->
            <div class="grid   grid-cols-2 md:grid-cols-4 pb-20 lg:mt-14">
                <!-- mujer -->
                <div class="col-span-1 hidden md:object-contain md:flex justify-center z-10"><img class=" md:object-scale-down md:w-auto " src="assets/img/mujer.svg" alt=""></div>
                <!-- sistemas -->
                <div class="col-span-2  space-x-2 grid grid-cols-2 lg:gap-4 ">
                    <!-- FacTEDSOL -->
                    <div class="col-span-1 pl-5 bg-white shadow-lg border-2 border-gray-200 rounded-md z-10">
                        <div class="flex justify-start items-center pt-5 gap-3">
                            <div class="bg-red-600 text-white px-1 py-1 text-3xl tracking-widest font-bold rounded-md">FS</div>
                            <div class=" font-bold lg:text-2xl md:text-base ">FacTEDSOL</div>
                        </div>
                        <div><img class="pt-3" src="assets/img/barrita.svg" alt=""></div>
                        <div class="flex flex-wrap mx-1 pt-5 text-gray-400 font-normal text-base">Lorem ipsum dolor amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam laborum.</div>
                        <div class="flex mb-3 md:pb-3 justify-start items-center md:mt-5 lg:mt-20 ">
                            <button [routerLink]="['/factesol']" class=" bg-black px-4 py-2 text-white md:px-8 md:py-2 lg:px-10 lg:py-3 lg:text-lg rounded-full hover:bg-blue-600 focus:outline-none">Ver más</button>
                        </div>
                    </div>
                    <!-- FactuTED -->
                    <div class="col-span-1 pl-5 bg-white shadow-lg border-2 border-gray-200 rounded-md z-10">
                        <div class="flex justify-start items-center pt-5 gap-3">
                            <div class="bg-blue-600 text-white px-1 py-1 text-3xl tracking-widest font-bold rounded-md">FT</div>
                            <div class=" font-bold lg:text-2xl md:text-base ">FactuTED</div>
                        </div>
                        <div><img class="pt-3" src="assets/img/barrita.svg" alt=""></div>
                        <div class="flex flex-wrap mx-1 pt-5 text-gray-400 font-normal text-base">Lorem ipsum dolor amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam laborum.</div>
                        <div class="flex mb-3  md:pb-3 justify-start items-center md:mt-5 lg:mt-20 ">
                            <button [routerLink]="['/factuted']" class=" bg-black px-4 py-2 text-white md:px-8 md:py-2 lg:px-10 lg:py-3 lg:text-lg rounded-full hover:bg-blue-600 focus:outline-none">Ver más</button>
                        </div>
                    </div>
                </div>
                <!-- hombre -->
                <div class="col-span-1 hidden md:object-contain md:flex justify-center z-10"><img class=" md:object-scale-down md:w-auto " src="assets/img/hombre.svg" alt=""></div>
            </div>
        </div>

    </section>
    <!-- EMPRESAS AFILIADAS -->
    <section class="lg:mt-5 md:mt-4 md:mx-7 lg:mx-0 mb-14  ">
        <div class="font-bold text-center lg:text-4xl md:text-2xl flex justify-center lg:pt-7 md:pt-2">Algunas de las empresas que confian en nosotros</div>
        <div class="flex justify-center items-center pb-14 pt-5">
            <div class="flex text-center text-base  text-gray-600 md:mx-12 lg:mx-60 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam laborum.
            </div>
        </div>
        <!-- Carrusel de las empresas que trabajan con INNOVATED -->
        <div class="  mx-2 md:mx-7 lg:mx-32 md:px-2   border-gray-200 border rounded-md shadow-lg ">
            <div class="carousel mb-10 pt-7 " data-flickity='{ "autoPlay": true }'>
                <div class="carousel-cell "><img src="assets/img/1.png" alt=""></div>
                <div class="carousel-cell "><img src="assets/img/2.png" alt=""></div>
                <div class="carousel-cell "><img src="assets/img/3.png" alt=""></div>
                <div class="carousel-cell "><img src="assets/img/4.png" alt=""></div>
                <div class="carousel-cell "><img src="assets/img/5.png" alt=""></div>
                <div class="carousel-cell "><img src="assets/img/6.png" alt=""></div>
                <div class="carousel-cell "><img src="assets/img/7.png" alt=""></div>
                <div class="carousel-cell "><img src="assets/img/8.png" alt=""></div>
                <div class="carousel-cell "><img src="assets/img/9.png" alt=""></div>
                <div class="carousel-cell "><img src="assets/img/10.png" alt=""></div>
                <div class="carousel-cell "><img src="assets/img/11.png" alt=""></div>
                <div class="carousel-cell "><img src="assets/img/12.png" alt=""></div>
                <div class="carousel-cell "><img src="assets/img/13.png" alt=""></div>
                <div class="carousel-cell "><img src="assets/img/14.png" alt=""></div>
                <div class="carousel-cell "><img src="assets/img/15.png" alt=""></div>
                <div class="carousel-cell "><img src="assets/img/16.png" alt=""></div>
                <div class="carousel-cell "><img src="assets/img/17.png" alt=""></div>
                <div class="carousel-cell "><img src="assets/img/18.png" alt=""></div>
            </div>
        </div>

    </section>

</header>