<header class="grid grid-cols-3 bg-gray-200 p-4 py-9 ">
    <!-- Bienvenida a Factesol -->
    <section class="col-span-3 grid grid-cols-3 shadow-lg bg-white rounded-lg  px-20 py-32">
        <!-- imagen -->
        <div class="col-span-1 ml-28">
            <img src="assets/img/factesol/bienvenida.svg" alt="">
        </div>
        <!-- contenido -->
        <div class="col-span-2 ">
            <div class="mx-28 space-y-5">
                <div class="text-3xl font-bold ">Iniciando en FacTEDSOL</div>
                <div class="text-gray-600">FacTEDSOL en la actualidad cuenta con 2 versiones que se adaptan a tus necesidades. Click en “Ver Demo” para más experimentar su usabilidad, o puedes “Omitir” este mensaje.</div>
                <div>
                    <div class=" gap-6 flex ">
                        <!-- boton omitir -->
                        <button [routerLink]="['/documentos']" class="focus:outline-none  flex gap-2 hover:bg-gray-900 justify-center rounded-full items-center bg-black px-9 py-2 text-white">
                            <div>Omitir</div>
                            <div class="  ">
                                <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.875 6.85653L11.2525 6.85653L8.07625 10.5933C7.92773 10.7684 7.85627 10.994 7.87761 11.2206C7.89894 11.4473 8.01131 11.6563 8.19 11.8018C8.36869 11.9473 8.59906 12.0173 8.83043 11.9964C9.06181 11.9755 9.27523 11.8654 9.42375 11.6904L13.7987 6.54799C13.8282 6.50708 13.8545 6.46411 13.8775 6.41943C13.8775 6.37657 13.8775 6.35086 13.9387 6.30801C13.9784 6.20974 13.9992 6.10513 14 5.99946C13.9992 5.8938 13.9784 5.78919 13.9387 5.69092C13.9387 5.64807 13.9388 5.62236 13.8775 5.5795C13.8545 5.53481 13.8282 5.49184 13.7987 5.45094L9.42375 0.308546C9.34148 0.211798 9.23846 0.133993 9.12201 0.0806656C9.00556 0.027338 8.87855 -0.000203133 8.75 1.90735e-06C8.54555 -0.000390053 8.34742 0.0693541 8.19 0.197126C8.1014 0.269076 8.02816 0.357441 7.97448 0.457158C7.92079 0.556876 7.88772 0.665985 7.87716 0.778241C7.86659 0.890497 7.87874 1.00369 7.9129 1.11134C7.94706 1.21899 8.00257 1.31898 8.07625 1.40559L11.2525 5.1424L0.875 5.1424C0.642936 5.1424 0.420375 5.2327 0.256281 5.39343C0.0921869 5.55416 0 5.77216 0 5.99946C0 6.22677 0.0921869 6.44477 0.256281 6.6055C0.420375 6.76623 0.642936 6.85653 0.875 6.85653Z" fill="white"/>
                                </svg>
                            </div>
                        </button>
                        <!-- boton ver demo -->
                        <button class="focus:outline-none  flex gap-2 justify-center rounded-full items-center bg-white border-2 border-gray-900  px-9 py-2 text-black">
                            <div>Ver Demos</div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>