<body class="p-5 bg-gray-100">

    <header *ngIf="desaparecer === false" [class.showingData]="desaparecer === true" class="grid grid-cols-2  md:grid-cols-6 p-3  gap-3 ">
        <div class="shadow-sm col-span-2  md:col-span-1  rounded-lg bg-white ">
            <div class=" col-span-2  font-bold text-center pt-5">Documentos</div>
            <div class="col-span-2 md:col-span-1 grid grid-cols-2 md:grid-cols-1">
                <!-- Cotizar -->
                <div class=" col-span-1 p-6 space-y-3  border-b-2 border-gray-100 ">
                    <!-- Titulo e imagen -->
                    <div class="border border-gray-200 rounded-lg  space-y-3  py-5 ">
                        <div class="flex justify-center"><img src="assets/img/documentos-factesol/docu-blue.svg" alt=""></div>
                        <div class="text-center text-sm ">Cotización</div>
                    </div>
                    <!-- boton inactivo -->
                    <div class="flex justify-center" *ngIf="elegirCotizar === false" [class.showingData]="elegirCotizar === true">
                        <button (click)="onCotizar()" class="text-center focus:outline-none  bg-black hover:bg-gray-900 text-white px-6 py-2 rounded-full">Visualizar</button>
                    </div>
                    <!-- boton activo -->
                    <div *ngIf="elegirCotizar === true" class="flex justify-center">
                        <button class="text-center focus:outline-none  border border-gray-400  text-gray-400 px-6 py-2 rounded-full">Visualizando</button>
                    </div>
                </div>
                <!-- Contrato -->
                <div class=" col-span-1 p-6 space-y-3">
                    <!-- Titulo e imagen -->
                    <div class="border border-gray-200 rounded-lg space-y-3 py-5">
                        <div class="flex justify-center"><img src="assets/img/documentos-factesol/docu-green.svg" alt=""></div>
                        <div class="text-center text-sm ">Contrato</div>
                    </div>
                    <!-- boton inactivo -->
                    <div class="flex justify-center" *ngIf="elegirContrato === false" [class.showingData]="elegirContrato === true">
                        <button (click)="onContrato()" class="text-center focus:outline-none bg-black hover:bg-gray-900 text-white px-6 py-2 rounded-full">Visualizar</button>
                    </div>
                    <!-- boton activo -->
                    <div *ngIf="elegirContrato === true" class="flex justify-center">
                        <button class="text-center focus:outline-none  border border-gray-400  text-gray-400 px-6 py-2 rounded-full">Visualizando</button>
                    </div>
                </div>
            </div>

        </div>
        <!-- Sale al inicio -->
        <div *ngIf="elegir === false" class="col-span-2 md:col-span-5  flex justify-center items-center shadow-sm bg-white  rounded-lg">
            <img src="assets/img/documentos-factesol/docu-busquedad.svg" alt="">
        </div>
        <!-- Cotizar -->
        <div *ngIf="elegirCotizar === true" class=" col-span-2 md:col-span-5 flex  items-center  shadow-sm bg-white rounded-lg">
            <section class=" col-span-2 md:col-span-5 w-full h-full grid grid-cols-1 md:grid-cols-5 border  rounded-md shadow-md border-gray-200  ">
                <!-- Imgen Central -->
                <div class="col-span-2 lg:p-5  md:col-span-3 bg-gray-300 rounded-l-md  flex items-center justify-center ">
                    <div class="col-span-2  md:col-span-3 bg-gray-300 rounded-l-md  flex items-center justify-center ">
                        <div class="rounded-md m-9 md:m-0  bg-white  ">
                            <img src="assets/img/documentos-factesol/cotizar.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- Llenado de la Info -->
                <form class="  col-span-2 md:col-span-2 mx-3 my-3 md:mx-5 md:my-5  felx-col  lg:mx-7 ">
                    <!-- Informacion -->
                    <div class=" pt-3 md:pt-0 w-full flex flex-col md:mb-2 space-y-3">
                        <label class="font-bold">Información</label>
                        <label>El documento fue subido y válidado el 22/12/2020.</label>
                        <!-- <p class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
                    </div>

                    <!-- Zoom  -->
                    <div class=" space-y-2 pt-4 ">
                        <span class=" font-bold ">Zoom</span>
                        <div class="flex gap-3">
                            <button class="flex justify-center items-center rounded-md bg-white border border-black focus:outline-none px-4 py-2">
                                <svg width="14" height="3" viewBox="0 0 14 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="14" height="3" fill="#262626"/>
                                </svg>     
                            </button>
                            <button class="flex justify-center items-center rounded-md bg-white border border-black focus:outline-none px-4 py-2">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 6.72H9.28V0H6.72V6.72H0V9.28H6.72V16H9.28V9.28H16V6.72Z" fill="#262626"/>
                                </svg>
                            </button>
                        </div>

                    </div>

                    <!-- Botones -->
                    <div class="flex gap-3">
                        <button *ngIf="eliminar === false" [class.showingData]="eliminar === true" (click)="onDesaparecer()" class="rounded-full px-6 py-2 mt-7 bg-black hover:bg-gray-900 text-white focus:outline-none">
                            Contactar
                        </button>
                        <button *ngIf="eliminar === false" [class.showingData]="eliminar === true" class=" rounded-full px-6 py-2 mt-7 bg-black hover:bg-gray-900 text-white focus:outline-none">
                            <img src="assets/img/documentos-factesol/descarga.svg" alt="">
                        </button>
                        <button *ngIf="eliminar === true" [class.showingData]="eliminar === false" class=" rounded-full px-6 py-2 mt-7 bg-black hover:bg-gray-900 text-white focus:outline-none">Descargar</button>
                        <button class="rounded-full px-6 py-2 mt-7 bg-black hover:bg-gray-900 text-white focus:outline-none">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.875 3H2.71875C1.99769 3 1.30617 3.28644 0.796304 3.7963C0.286439 4.30617 0 4.99769 0 5.71875V13.125C0 13.8212 0.276562 14.4889 0.768845 14.9812C1.26113 15.4734 1.92881 15.75 2.625 15.75H3V17.61C3 18.1113 3.19912 18.592 3.55357 18.9464C3.90801 19.3009 4.38874 19.5 4.89 19.5H14.61C15.1113 19.5 15.592 19.3009 15.9464 18.9464C16.3009 18.592 16.5 18.1113 16.5 17.61V15.75H16.875C17.5712 15.75 18.2389 15.4734 18.7312 14.9812C19.2234 14.4889 19.5 13.8212 19.5 13.125V5.625C19.5 4.92881 19.2234 4.26113 18.7312 3.76884C18.2389 3.27656 17.5712 3 16.875 3ZM15 17.61C14.9996 17.7133 14.9584 17.8123 14.8854 17.8854C14.8123 17.9584 14.7133 17.9996 14.61 18H4.89C4.78668 17.9996 4.6877 17.9584 4.61464 17.8854C4.54158 17.8123 4.50037 17.7133 4.5 17.61V10.14C4.50037 10.0367 4.54158 9.9377 4.61464 9.86464C4.6877 9.79158 4.78668 9.75037 4.89 9.75H14.61C14.7133 9.75037 14.8123 9.79158 14.8854 9.86464C14.9584 9.9377 14.9996 10.0367 15 10.14V17.61ZM16.2188 7.49625C15.9893 7.51469 15.7597 7.4623 15.561 7.34615C15.3622 7.23 15.2039 7.05568 15.1073 6.84671C15.0108 6.63774 14.9807 6.40418 15.0211 6.17756C15.0614 5.95093 15.1704 5.74214 15.3331 5.57937C15.4959 5.4166 15.7047 5.30768 15.9313 5.2673C16.1579 5.22693 16.3915 5.25705 16.6005 5.3536C16.8094 5.45014 16.9838 5.60847 17.0999 5.80721C17.2161 6.00596 17.2684 6.23555 17.25 6.465C17.2286 6.73136 17.1131 6.98141 16.9241 7.17036C16.7352 7.35932 16.4851 7.47484 16.2188 7.49625Z" fill="white"/>
                                <path d="M13.8752 0H5.62516C4.99422 0.000939512 4.38466 0.228732 3.90774 0.6418C3.43082 1.05487 3.11834 1.62566 3.02734 2.25H16.473C16.382 1.62566 16.0695 1.05487 15.5926 0.6418C15.1156 0.228732 14.5061 0.000939512 13.8752 0Z" fill="white"/>
                            </svg>   
                        </button>
                    </div>
                </form>
            </section>
        </div>

        <!-- Contrato -->
        <div *ngIf="elegirContrato === true" class=" col-span-2 md:col-span-5 flex  items-center  shadow-sm bg-white rounded-lg">
            <section class=" col-span-2 md:col-span-5 w-full h-full grid grid-cols-1 md:grid-cols-5 border  rounded-md shadow-md border-gray-200  ">
                <!-- Imgen Central -->
                <div class="col-span-2 lg:p-5  md:col-span-3 bg-gray-300 rounded-l-md  flex items-center justify-center ">
                    <div class="col-span-2  md:col-span-3 bg-gray-300 rounded-l-md  flex items-center justify-center ">
                        <div class="rounded-md m-9 md:m-0  bg-white  ">
                            <img src="assets/img/documentos-factesol/contrato.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- Llenado de la Info -->
                <form action="" class="col-span-2 md:col-span-2 mx-3 my-3 md:mx-5 md:my-5  felx-col  lg:mx-7 ">
                    <!-- Informacion -->
                    <div class=" w-full flex flex-col md:mb-2 space-y-3">
                        <label class="font-bold">Información</label>
                        <label>Contrato detallado por sevicio de facturación electronica.</label>
                        <!-- <p class="text-xs italic text-red-700"> Por favor rellene este campo.</p> -->
                    </div>

                    <!-- Zoom  -->
                    <div class=" space-y-2 pt-4 ">
                        <span class=" font-bold ">Zoom</span>
                        <div class="flex gap-3">
                            <button class="flex justify-center items-center rounded-md bg-white border border-black focus:outline-none px-4 py-2">
                                <svg width="14" height="3" viewBox="0 0 14 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="14" height="3" fill="#262626"/>
                                </svg>     
                            </button>
                            <button class="flex justify-center items-center rounded-md bg-white border border-black focus:outline-none px-4 py-2">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 6.72H9.28V0H6.72V6.72H0V9.28H6.72V16H9.28V9.28H16V6.72Z" fill="#262626"/>
                                </svg>
                            </button>
                        </div>

                    </div>

                    <!-- Boton Descargar -->
                    <div class="flex gap-3">
                        <button class="rounded-full px-6 py-2 mt-7 bg-black hover:bg-gray-900 text-white focus:outline-none">Descargar</button>
                        <button class="rounded-full px-6 py-2 mt-7 bg-black hover:bg-gray-900 text-white focus:outline-none">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.875 3H2.71875C1.99769 3 1.30617 3.28644 0.796304 3.7963C0.286439 4.30617 0 4.99769 0 5.71875V13.125C0 13.8212 0.276562 14.4889 0.768845 14.9812C1.26113 15.4734 1.92881 15.75 2.625 15.75H3V17.61C3 18.1113 3.19912 18.592 3.55357 18.9464C3.90801 19.3009 4.38874 19.5 4.89 19.5H14.61C15.1113 19.5 15.592 19.3009 15.9464 18.9464C16.3009 18.592 16.5 18.1113 16.5 17.61V15.75H16.875C17.5712 15.75 18.2389 15.4734 18.7312 14.9812C19.2234 14.4889 19.5 13.8212 19.5 13.125V5.625C19.5 4.92881 19.2234 4.26113 18.7312 3.76884C18.2389 3.27656 17.5712 3 16.875 3ZM15 17.61C14.9996 17.7133 14.9584 17.8123 14.8854 17.8854C14.8123 17.9584 14.7133 17.9996 14.61 18H4.89C4.78668 17.9996 4.6877 17.9584 4.61464 17.8854C4.54158 17.8123 4.50037 17.7133 4.5 17.61V10.14C4.50037 10.0367 4.54158 9.9377 4.61464 9.86464C4.6877 9.79158 4.78668 9.75037 4.89 9.75H14.61C14.7133 9.75037 14.8123 9.79158 14.8854 9.86464C14.9584 9.9377 14.9996 10.0367 15 10.14V17.61ZM16.2188 7.49625C15.9893 7.51469 15.7597 7.4623 15.561 7.34615C15.3622 7.23 15.2039 7.05568 15.1073 6.84671C15.0108 6.63774 14.9807 6.40418 15.0211 6.17756C15.0614 5.95093 15.1704 5.74214 15.3331 5.57937C15.4959 5.4166 15.7047 5.30768 15.9313 5.2673C16.1579 5.22693 16.3915 5.25705 16.6005 5.3536C16.8094 5.45014 16.9838 5.60847 17.0999 5.80721C17.2161 6.00596 17.2684 6.23555 17.25 6.465C17.2286 6.73136 17.1131 6.98141 16.9241 7.17036C16.7352 7.35932 16.4851 7.47484 16.2188 7.49625Z" fill="white"/>
                                <path d="M13.8752 0H5.62516C4.99422 0.000939512 4.38466 0.228732 3.90774 0.6418C3.43082 1.05487 3.11834 1.62566 3.02734 2.25H16.473C16.382 1.62566 16.0695 1.05487 15.5926 0.6418C15.1156 0.228732 14.5061 0.000939512 13.8752 0Z" fill="white"/>
                            </svg>   
                        </button>
                    </div>



                    <!-- check -->
                    <div class="flex lg:pt-44  ">
                        <div class="flex gap-3 pt-3 border-t-2 border-gray-100">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 0C5.37321 0 0 5.37321 0 12C0 18.6268 5.37321 24 12 24C18.6268 24 24 18.6268 24 12C24 5.37321 18.6268 0 12 0ZM17.183 8.08125L11.542 15.9027C11.4631 16.0127 11.3592 16.1024 11.2388 16.1642C11.1184 16.2261 10.9849 16.2584 10.8496 16.2584C10.7142 16.2584 10.5808 16.2261 10.4603 16.1642C10.3399 16.1024 10.236 16.0127 10.1571 15.9027L6.81696 11.2741C6.71518 11.1321 6.81696 10.9339 6.99107 10.9339H8.24732C8.52054 10.9339 8.78036 11.0652 8.94107 11.2902L10.8482 13.9366L15.0589 8.09732C15.2196 7.875 15.4768 7.74107 15.7527 7.74107H17.0089C17.183 7.74107 17.2848 7.93929 17.183 8.08125Z" fill="#4FC425"/>
                            </svg>
                            <div class="text-base text-blue-500 font-semibold ">Contrato verificado y aceptado (14/01/2021)</div>

                        </div>

                    </div>
                </form>
            </section>
        </div>
    </header>

    <!-- Contactar  -->
    <header *ngIf="desaparecer === true" [class.showingData]="desaparecer === false" class=" bg-white p-3 rounded-lg mx-3">
        <div class=" adorno  ">
            <!-- Volver a cotizaciones -->
            <div (click)="onVolver()" class="flex items-center gap-3 pl-10 pt-4">
                <div>
                    <svg width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.79401 0.234846C5.72915 0.160403 5.6521 0.101341 5.56727 0.061042C5.48244 0.0207433 5.3915 0 5.29965 0C5.20781 0 5.11687 0.0207433 5.03204 0.061042C4.94721 0.101341 4.87016 0.160403 4.8053 0.234846L0.163358 5.54907C0.111574 5.60823 0.070491 5.67851 0.0424599 5.75587C0.0144287 5.83323 0 5.91616 0 5.99992C0 6.08367 0.0144287 6.1666 0.0424599 6.24396C0.070491 6.32132 0.111574 6.3916 0.163358 6.45076L4.8053 11.765C5.07901 12.0783 5.5203 12.0783 5.79401 11.765C6.06773 11.4516 6.06773 10.9464 5.79401 10.6331L1.74977 5.99672L5.7996 1.36036C6.06772 1.0534 6.06773 0.541804 5.79401 0.234846Z" fill="#2DA6FE"/>
                        </svg>
                </div>
                <button class="focus:outline-none text-blue-400 hover:underline">Volver a Cotizaciones</button>
            </div>
            <div class="flex justify-center items-center pb-16">

                <!-- imagen y horarios de comunciación  -->
                <div class="space-y-8">
                    <img src="assets/img/documentos-factesol/bienv.svg" alt="">
                    <div class="flex flex-col justify-center items-center">
                        <div>Nos comunicaremos contigo detro de las proximas <span class="font-bold">12h</span> según los horarios establecidos</div>
                        <div><span class="font-bold">(Lun a Vie: 09:00am a 01:00pm - 03:00pm a 06:00pm),</span> se recomienda estar atento.</div>
                    </div>
                </div>
            </div>
        </div>
    </header>

</body>