<header class="pt-4 adorno w-full">
    <button [routerLink]="['/home']" class=" focus:outline-none"><img class="lg:pl-9" src="assets/img/factesol/volver.svg" alt=""></button>
    <!-- Infor de Factesol -->
    <section class="grid grid-cols-2 lg:mx-24 mx-2  md:mx-3  gap-6 pb-7">
        <div class="col-span-2 grid grid-cols-2">
            <div class="col-span-2 flex md:hidden justify-center lg:pl-10">
                <img class="object-cover w-48 " src="assets/img/factesol/lap.svg" alt="">
            </div>
            <div class="col-span-2 md:col-span-1   space-y-6">
                <div class="font-bold text-2xl">¿Qué es FactuTED?</div>
                <div class="text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaUt ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea consequat. . Ut enim ad minim
                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
                <div class="flex w-full justify-between items-center ">
                    <button class="focus:outline-none bg-black text-white hover:bg-blue-500 px-8 py-2 rounded-full font-semibold text-sm">Cotizar Ahora</button>
                    <div> <img class="object-scale-down w-56" src="assets/img/factuted/ticket-factuted.svg" alt=""> </div>
                </div>
            </div>
            <div class="hidden md:flex col-span-1 justify-end lg:pl-10">
                <img class="object-scale-down  " src="assets/img/factuted/laptop.svg" alt="">
            </div>
        </div>
        <div class="col-span-2 grid grid-cols-2 md:grid-cols-4 gap-6 ">
            <div class="col-span-1 border bg-white border-gray-300 shadow-md text-center rounded-md">
                <div class=" px-3 py-4  flex flex-col space-y-1 ">
                    <div class="flex justify-center pb-2"><img src="assets/img/factuted/velocidad.svg" alt=""></div>
                    <div class="font-bold">Velocidad de Procesos</div>
                    <div>Aliquip ex ea commodo consequat</div>
                </div>
            </div>
            <div class="col-span-1 border bg-white border-gray-300 shadow-md text-center rounded-md">
                <div class=" px-3 py-4  flex flex-col space-y-1 ">
                    <div class="flex justify-center pb-2"><img src="assets/img/factuted/carrito.svg" alt=""></div>
                    <div class="font-bold">2 Modulos de Ventas</div>
                    <div>Aliquip ex ea commodo consequat</div>
                </div>
            </div>
            <div class="col-span-1 border bg-white border-gray-300 shadow-md text-center rounded-md">
                <div class=" px-3 py-4  flex flex-col space-y-1 ">
                    <div class="flex justify-center pb-2"><img src="assets/img/factuted/doc.svg" alt=""></div>
                    <div class="font-bold">Control de Comprobantes</div>
                    <div>Aliquip ex ea commodo consequat</div>
                </div>
            </div>
            <div class="col-span-1 border bg-white border-gray-300 shadow-md text-center rounded-md">
                <div class=" px-3 py-4  flex flex-col space-y-1 ">
                    <div class="flex justify-center pb-2"><img src="assets/img/factuted/reporte.svg" alt=""></div>
                    <div class="font-bold">Reportes confiables</div>
                    <div>Aliquip ex ea commodo consequat</div>
                </div>
            </div>

        </div>
    </section>
    <!-- Nuestras Versiones titulo -->
    <section class="lg:pt-20 md:pt-5 lg:mx-20 gap-6 pb-7 grid grid-cols-2">
        <div class="col-span-2 text-center flex flex-col pb-5 space-y-4 ">
            <div class="font-bold text-2xl">Nuestras Versiones</div>
            <div class="text-gray-600">Para cualquier situación contamos con 2 versiones que pueden ayudarte en tu negocio</div>
        </div>
    </section>
    <!-- Nuestras Versiones Factuted Carrousel -->
    <section class="carousel lg:mx-20  " data-flickity='{ "autoPlay": true }'>
        <div (click)="onShowHide(false)" class=" hover:border-blue-500 focus:border-blue-500 cursor-pointer carousel-cell border rounded-xl   shadow-md border-gray-200 ">
            <div class="p-3"><img src="assets/img/factuted/carrito.svg" alt=""></div>
            <div class="p-3 font-semibold">Transporte Terrestre</div>
            <div class="p-1">Minim veniam, nostrudMinim veniam consequat. exercitation ullamco laboris nisi ut aliquip ex ea consequat.</div>
        </div>
        <div (click)="onShowHide(true)" class=" hover:border-blue-500 focus:border-blue-500 cursor-pointer carousel-cell border rounded-xl   shadow-md border-gray-200 ">
            <div class="p-3"><img src="assets/img/factuted/cubiertos.svg" alt=""></div>
            <div class="p-3 font-semibold">Restaurante</div>
            <div class="p-1">Minim veniam, nostrudMinim veniam consequat. exercitation ullamco laboris nisi ut aliquip ex ea consequat.</div>
        </div>
        <div (click)="onShowHide(true)" class=" hover:border-blue-500 focus:border-blue-500 cursor-pointer carousel-cell border rounded-xl   shadow-md border-gray-200 ">
            <div class="p-3"><img src="assets/img/factuted/copas.svg" alt=""></div>
            <div class="p-3 font-semibold">Jugueria</div>
            <div class="p-1">Minim veniam, nostrudMinim veniam consequat. exercitation ullamco laboris nisi ut aliquip ex ea consequat.</div>
        </div>
        <div (click)="onShowHide(true)" class=" hover:border-blue-500 focus:border-blue-500 cursor-pointer carousel-cell border rounded-xl   shadow-md border-gray-200 ">
            <div class="p-3"><img src="assets/img/factuted/ajustes.svg" alt=""></div>
            <div class="p-3 font-semibold">Ferreteria</div>
            <div class="p-1">Minim veniam, nostrudMinim veniam consequat. exercitation ullamco laboris nisi ut aliquip ex ea consequat.</div>
        </div>
        <div (click)="onShowHide(true)" class=" hover:border-blue-500 focus:border-blue-500 cursor-pointer carousel-cell border rounded-xl   shadow-md border-gray-200 ">
            <div class="p-3"><img src="assets/img/factuted/carrito.svg" alt=""></div>
            <div class="p-3 font-semibold">Pasajes</div>
            <div class="p-1">Minim veniam, nostrudMinim veniam consequat. exercitation ullamco laboris nisi ut aliquip ex ea consequat.</div>
        </div>
    </section>

    <!-- Info de cada Version -->
    <section class=" lg:mx-28 mx-2 mt-10 lg:mt-12 md:mt-8 bg-blue-500 text-white rounded-xl border grid grid-cols-1 md:grid-cols-4 md:grid-rows-4">
        <!-- trasporte terreste -->
        <div *ngIf="mostrarDatos === false" [class.showingData]="mostrarDatos === true" class="md:col-span-4 col-span-1 p-7 md:row-span-4 grid md:grid-cols-4  space-y-0">
            <div class=" col-span-1 md:col-span-4 font-bold ">Transporte Terrestre</div>
            <div class="col-span-1 md:col-span-3 py-4">Minim veniam, nostrudMinim veniam consequat. nisi ut ex ea consequat:</div>
            <div class="col-span-1 md:col-span-1 md:row-span-3 px-9 space-y-5 border-l border-blue-200 mx-3 my-3  ">
                <div class="">Desde:</div>
                <div class="text-3xl">S/. 300.00 <span class="text-sm">x Mensual</span> </div>
                <div class="text-center pt-7"><button class="focus:outline-none px-6 py-2 rounded-full bg-black text-white hover:bg-gray-900 text-xs md:text-sm">Probar Demo</button></div>
            </div>
            <div class="col-span-1 md:col-span-3  md:row-span-2 grid md:grid-cols-3 md:grid-rows-2 ">
                <div class="col-span-1 md:col-span-3 space-x-0 md:space-x-7 pt-1  md:row-span-1 grid md:grid-cols-3 md:grid-rows-1">
                    <div class="col-span-1 row-span-1 flex space-x-3">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/velocidad-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                    <div class="col-span-1 row-span-1 flex space-x-3">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/carrito-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                    <div class="col-span-1 row-span-1 flex space-x-3">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/velocidad-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                </div>
                <div class="col-span-1 md:col-span-3 space-x-0 md:space-x-7 pt-3 md:row-span-1 grid md:grid-cols-3 md:grid-rows-1">
                    <div class="col-span-1 row-span-1 flex space-x-3 ">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/velocidad-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                    <div class="col-span-1 row-span-1 flex space-x-3">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/carrito-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                    <div class="col-span-1 row-span-1 flex space-x-3">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/velocidad-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Restaurante -->
        <div *ngIf="mostrarDatos === true" [class.showingData]="mostrarDatos === false" class="md:col-span-4 col-span-1 p-7 md:row-span-4 grid md:grid-cols-4  space-y-0">
            <div class=" col-span-1 md:col-span-4 font-bold ">Restaurante</div>
            <div class="col-span-1 md:col-span-3 py-4">Minim veniam, nostrudMinim veniam consequat. nisi ut ex ea consequat:</div>
            <div class="col-span-1 md:col-span-1 md:row-span-3 px-9 space-y-5 border-l border-blue-200 mx-3 my-3  ">
                <div class="">Desde:</div>
                <div class="text-3xl">S/. 300.00 <span class="text-sm">x Mensual</span> </div>
                <div class="text-center pt-7"><button class="focus:outline-none px-6 py-2 rounded-full bg-black text-white hover:bg-gray-900 text-xs md:text-sm">Probar Demo</button></div>
            </div>
            <div class="col-span-1 md:col-span-3  md:row-span-2 grid md:grid-cols-3 md:grid-rows-2 ">
                <div class="col-span-1 md:col-span-3 space-x-0 md:space-x-7 pt-1  md:row-span-1 grid md:grid-cols-3 md:grid-rows-1">
                    <div class="col-span-1 row-span-1 flex space-x-3">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/velocidad-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                    <div class="col-span-1 row-span-1 flex space-x-3">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/carrito-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                    <div class="col-span-1 row-span-1 flex space-x-3">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/velocidad-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                </div>
                <div class="col-span-1 md:col-span-3 space-x-0 md:space-x-7 pt-3 md:row-span-1 grid md:grid-cols-3 md:grid-rows-1">
                    <div class="col-span-1 row-span-1 flex space-x-3 ">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/velocidad-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                    <div class="col-span-1 row-span-1 flex space-x-3">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/carrito-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                    <div class="col-span-1 row-span-1 flex space-x-3">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/velocidad-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Jugueria -->
        <div *ngIf="mostrarDatos === true" [class.showingData]="mostrarDatos === true" class="md:col-span-4 col-span-1 p-7 md:row-span-4 grid md:grid-cols-4  space-y-0">
            <div class=" col-span-1 md:col-span-4 font-bold ">Jugueria</div>
            <div class="col-span-1 md:col-span-3 py-4">Minim veniam, nostrudMinim veniam consequat. nisi ut ex ea consequat:</div>
            <div class="col-span-1 md:col-span-1 md:row-span-3 px-9 space-y-5 border-l border-blue-200 mx-3 my-3  ">
                <div class="">Desde:</div>
                <div class="text-3xl">S/. 300.00 <span class="text-sm">x Mensual</span> </div>
                <div class="text-center pt-7"><button class="focus:outline-none px-6 py-2 rounded-full bg-black text-white hover:bg-gray-900 text-xs md:text-sm">Probar Demo</button></div>
            </div>
            <div class="col-span-1 md:col-span-3  md:row-span-2 grid md:grid-cols-3 md:grid-rows-2 ">
                <div class="col-span-1 md:col-span-3 space-x-0 md:space-x-7 pt-1  md:row-span-1 grid md:grid-cols-3 md:grid-rows-1">
                    <div class="col-span-1 row-span-1 flex space-x-3">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/velocidad-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                    <div class="col-span-1 row-span-1 flex space-x-3">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/carrito-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                    <div class="col-span-1 row-span-1 flex space-x-3">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/velocidad-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                </div>
                <div class="col-span-1 md:col-span-3 space-x-0 md:space-x-7 pt-3 md:row-span-1 grid md:grid-cols-3 md:grid-rows-1">
                    <div class="col-span-1 row-span-1 flex space-x-3 ">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/velocidad-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                    <div class="col-span-1 row-span-1 flex space-x-3">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/carrito-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                    <div class="col-span-1 row-span-1 flex space-x-3">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/velocidad-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Ferreteria -->
        <div *ngIf="mostrarDatos === true" [class.showingData]="mostrarDatos === true" class="md:col-span-4 col-span-1 p-7 md:row-span-4 grid md:grid-cols-4  space-y-0">
            <div class=" col-span-1 md:col-span-4 font-bold ">Ferreteria</div>
            <div class="col-span-1 md:col-span-3 py-4">Minim veniam, nostrudMinim veniam consequat. nisi ut ex ea consequat:</div>
            <div class="col-span-1 md:col-span-1 md:row-span-3 px-9 space-y-5 border-l border-blue-200 mx-3 my-3  ">
                <div class="">Desde:</div>
                <div class="text-3xl">S/. 300.00 <span class="text-sm">x Mensual</span> </div>
                <div class="text-center pt-7"><button class="focus:outline-none px-6 py-2 rounded-full bg-black text-white hover:bg-gray-900 text-xs md:text-sm">Probar Demo</button></div>
            </div>
            <div class="col-span-1 md:col-span-3  md:row-span-2 grid md:grid-cols-3 md:grid-rows-2 ">
                <div class="col-span-1 md:col-span-3 space-x-0 md:space-x-7 pt-1  md:row-span-1 grid md:grid-cols-3 md:grid-rows-1">
                    <div class="col-span-1 row-span-1 flex space-x-3">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/velocidad-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                    <div class="col-span-1 row-span-1 flex space-x-3">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/carrito-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                    <div class="col-span-1 row-span-1 flex space-x-3">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/velocidad-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                </div>
                <div class="col-span-1 md:col-span-3 space-x-0 md:space-x-7 pt-3 md:row-span-1 grid md:grid-cols-3 md:grid-rows-1">
                    <div class="col-span-1 row-span-1 flex space-x-3 ">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/velocidad-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                    <div class="col-span-1 row-span-1 flex space-x-3">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/carrito-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                    <div class="col-span-1 row-span-1 flex space-x-3">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/velocidad-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pasajes -->
        <div *ngIf="mostrarDatos === true" [class.showingData]="mostrarDatos === true" class="md:col-span-4 col-span-1 p-7 md:row-span-4 grid md:grid-cols-4  space-y-0">
            <div class=" col-span-1 md:col-span-4 font-bold ">Pasajes</div>
            <div class="col-span-1 md:col-span-3 py-4">Minim veniam, nostrudMinim veniam consequat. nisi ut ex ea consequat:</div>
            <div class="col-span-1 md:col-span-1 md:row-span-3 px-9 space-y-5 border-l border-blue-200 mx-3 my-3  ">
                <div class="">Desde:</div>
                <div class="text-3xl">S/. 300.00 <span class="text-sm">x Mensual</span> </div>
                <div class="text-center pt-7"><button class="focus:outline-none px-6 py-2 rounded-full bg-black text-white hover:bg-gray-900 text-xs md:text-sm">Probar Demo</button></div>
            </div>
            <div class="col-span-1 md:col-span-3  md:row-span-2 grid md:grid-cols-3 md:grid-rows-2 ">
                <div class="col-span-1 md:col-span-3 space-x-0 md:space-x-7 pt-1  md:row-span-1 grid md:grid-cols-3 md:grid-rows-1">
                    <div class="col-span-1 row-span-1 flex space-x-3">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/velocidad-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                    <div class="col-span-1 row-span-1 flex space-x-3">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/carrito-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                    <div class="col-span-1 row-span-1 flex space-x-3">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/velocidad-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                </div>
                <div class="col-span-1 md:col-span-3 space-x-0 md:space-x-7 pt-3 md:row-span-1 grid md:grid-cols-3 md:grid-rows-1">
                    <div class="col-span-1 row-span-1 flex space-x-3 ">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/velocidad-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                    <div class="col-span-1 row-span-1 flex space-x-3">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/carrito-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                    <div class="col-span-1 row-span-1 flex space-x-3">
                        <span class="pt-2"><img class="object-cover w-12" src="assets/img/factuted/velocidad-b.svg" alt=""></span>
                        <div>Minim veniam, veniam consequat. ullamco laboris nisi ut aliquip ex ea consequat.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- No encontrabas lo que buscabas -->
    <section class="grid md:grid-cols-2 m-1 lg:mx-20  md:mt-11 lg:px-6 lg:pt-11 mt-6 ">
        <div class="col-span-1 flex md:hidden md:justify-end justify-center">
            <img class="object-cover w-56 " src="assets/img/factuted/pregunta.svg" alt="">
        </div>
        <div class="col-span-1 space-y-4 pl-2 space-y-5">
            <div class="text-4xl font-bold ">Hola, ¿No econtraste lo que buscabas?</div>
            <div>En innovated pensamos en usted, tambien desarrollamos sistemas a medida que se ajuste a su estilo de trabajo, de momento puedes ir ingresando informacion que utilizaremos en una futura conversación. Click en el botón de enviar requerimientos.</div>
            <button class=" hover:bg-gray-900 px-9 py-2 bg-black text-white rounded-3xl focus:outline-none text-base">Enviar Requerimientos</button>
        </div>
        <div class="hidden col-span-1 md:flex justify-end">
            <img src="assets/img/factuted/pregunta.svg" alt="">
        </div>
    </section>

    <section class="grid grid-cols-1 mt-9 mb-2  md:grid-cols-2 m-1 lg:mx-24 gap-10 md:mt-7 md:mb-3 lg:mt-20 lg:pb-14">
        <div class="col-span-1 flex space-x-5 ">
            <div class="">
                <div class="shadow-lg border border-gray-200 rounded-full p-2">
                    <svg class="object-cover w-4" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.8687 0.602166C17.2116 0.217822 17.6745 0.00151417 18.1573 7.91927e-06C18.6401 -0.00149833 19.1041 0.211918 19.4488 0.594117C19.7936 0.976317 19.9915 1.49659 19.9997 2.04245C20.008 2.58832 19.8259 3.11591 19.4928 3.51118L9.71175 17.3359C9.54364 17.5406 9.34075 17.7049 9.11521 17.819C8.88967 17.933 8.6461 17.9945 8.39907 17.9996C8.15205 18.0048 7.90664 17.9536 7.67751 17.8491C7.44839 17.7446 7.24026 17.5889 7.06557 17.3913L0.584875 10.0606C0.40433 9.87038 0.25952 9.64098 0.159083 9.3861C0.058646 9.13122 0.0046394 8.85607 0.000285983 8.57707C-0.00406744 8.29808 0.0413216 8.02095 0.133744 7.76222C0.226167 7.50349 0.363731 7.26846 0.538229 7.07114C0.712726 6.87383 0.920583 6.71829 1.1494 6.61378C1.37822 6.50928 1.6233 6.45795 1.87004 6.46287C2.11678 6.4678 2.36012 6.52886 2.58553 6.64243C2.81094 6.756 3.01382 6.91974 3.18205 7.12389L8.3127 12.9225L16.8221 0.663118C16.8373 0.641657 16.8537 0.621298 16.8711 0.602166H16.8687Z" fill="#2DA6FE"/>
                    </svg>
                </div>
            </div>
            <div class="space-y-3">
                <div class="font-bold">100% Confiable</div>
                <div class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaUt ad minim veniam, quis nostrud exercitation</div>
            </div>
        </div>
        <div class="col-span-1 flex space-x-5 ">
            <div class="">
                <div class="shadow-lg border border-gray-200 rounded-full p-2">
                    <svg class="object-cover w-4" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.8687 0.602166C17.2116 0.217822 17.6745 0.00151417 18.1573 7.91927e-06C18.6401 -0.00149833 19.1041 0.211918 19.4488 0.594117C19.7936 0.976317 19.9915 1.49659 19.9997 2.04245C20.008 2.58832 19.8259 3.11591 19.4928 3.51118L9.71175 17.3359C9.54364 17.5406 9.34075 17.7049 9.11521 17.819C8.88967 17.933 8.6461 17.9945 8.39907 17.9996C8.15205 18.0048 7.90664 17.9536 7.67751 17.8491C7.44839 17.7446 7.24026 17.5889 7.06557 17.3913L0.584875 10.0606C0.40433 9.87038 0.25952 9.64098 0.159083 9.3861C0.058646 9.13122 0.0046394 8.85607 0.000285983 8.57707C-0.00406744 8.29808 0.0413216 8.02095 0.133744 7.76222C0.226167 7.50349 0.363731 7.26846 0.538229 7.07114C0.712726 6.87383 0.920583 6.71829 1.1494 6.61378C1.37822 6.50928 1.6233 6.45795 1.87004 6.46287C2.11678 6.4678 2.36012 6.52886 2.58553 6.64243C2.81094 6.756 3.01382 6.91974 3.18205 7.12389L8.3127 12.9225L16.8221 0.663118C16.8373 0.641657 16.8537 0.621298 16.8711 0.602166H16.8687Z" fill="#2DA6FE"/>
                    </svg>
                </div>
            </div>
            <div class="space-y-3">
                <div class="font-bold">100% Confiable</div>
                <div class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaUt ad minim veniam, quis nostrud exercitation</div>
            </div>
        </div>
        <div class="col-span-1 flex space-x-5 ">
            <div class="">
                <div class="shadow-lg border border-gray-200 rounded-full p-2">
                    <svg class="object-cover w-4" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.8687 0.602166C17.2116 0.217822 17.6745 0.00151417 18.1573 7.91927e-06C18.6401 -0.00149833 19.1041 0.211918 19.4488 0.594117C19.7936 0.976317 19.9915 1.49659 19.9997 2.04245C20.008 2.58832 19.8259 3.11591 19.4928 3.51118L9.71175 17.3359C9.54364 17.5406 9.34075 17.7049 9.11521 17.819C8.88967 17.933 8.6461 17.9945 8.39907 17.9996C8.15205 18.0048 7.90664 17.9536 7.67751 17.8491C7.44839 17.7446 7.24026 17.5889 7.06557 17.3913L0.584875 10.0606C0.40433 9.87038 0.25952 9.64098 0.159083 9.3861C0.058646 9.13122 0.0046394 8.85607 0.000285983 8.57707C-0.00406744 8.29808 0.0413216 8.02095 0.133744 7.76222C0.226167 7.50349 0.363731 7.26846 0.538229 7.07114C0.712726 6.87383 0.920583 6.71829 1.1494 6.61378C1.37822 6.50928 1.6233 6.45795 1.87004 6.46287C2.11678 6.4678 2.36012 6.52886 2.58553 6.64243C2.81094 6.756 3.01382 6.91974 3.18205 7.12389L8.3127 12.9225L16.8221 0.663118C16.8373 0.641657 16.8537 0.621298 16.8711 0.602166H16.8687Z" fill="#2DA6FE"/>
                    </svg>
                </div>
            </div>
            <div class="space-y-3">
                <div class="font-bold">100% Confiable</div>
                <div class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaUt ad minim veniam, quis nostrud exercitation</div>
            </div>
        </div>
        <div class="col-span-1 flex space-x-5 ">
            <div class="">
                <div class="shadow-lg border border-gray-200 rounded-full p-2">
                    <svg class="object-cover w-4" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.8687 0.602166C17.2116 0.217822 17.6745 0.00151417 18.1573 7.91927e-06C18.6401 -0.00149833 19.1041 0.211918 19.4488 0.594117C19.7936 0.976317 19.9915 1.49659 19.9997 2.04245C20.008 2.58832 19.8259 3.11591 19.4928 3.51118L9.71175 17.3359C9.54364 17.5406 9.34075 17.7049 9.11521 17.819C8.88967 17.933 8.6461 17.9945 8.39907 17.9996C8.15205 18.0048 7.90664 17.9536 7.67751 17.8491C7.44839 17.7446 7.24026 17.5889 7.06557 17.3913L0.584875 10.0606C0.40433 9.87038 0.25952 9.64098 0.159083 9.3861C0.058646 9.13122 0.0046394 8.85607 0.000285983 8.57707C-0.00406744 8.29808 0.0413216 8.02095 0.133744 7.76222C0.226167 7.50349 0.363731 7.26846 0.538229 7.07114C0.712726 6.87383 0.920583 6.71829 1.1494 6.61378C1.37822 6.50928 1.6233 6.45795 1.87004 6.46287C2.11678 6.4678 2.36012 6.52886 2.58553 6.64243C2.81094 6.756 3.01382 6.91974 3.18205 7.12389L8.3127 12.9225L16.8221 0.663118C16.8373 0.641657 16.8537 0.621298 16.8711 0.602166H16.8687Z" fill="#2DA6FE"/>
                    </svg>
                </div>
            </div>
            <div class="space-y-3">
                <div class="font-bold">100% Confiable</div>
                <div class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaUt ad minim veniam, quis nostrud exercitation</div>
            </div>
        </div>
        <div class="col-span-1 flex space-x-5 ">
            <div class="">
                <div class="shadow-lg border border-gray-200 rounded-full p-2">
                    <svg class="object-cover w-4" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.8687 0.602166C17.2116 0.217822 17.6745 0.00151417 18.1573 7.91927e-06C18.6401 -0.00149833 19.1041 0.211918 19.4488 0.594117C19.7936 0.976317 19.9915 1.49659 19.9997 2.04245C20.008 2.58832 19.8259 3.11591 19.4928 3.51118L9.71175 17.3359C9.54364 17.5406 9.34075 17.7049 9.11521 17.819C8.88967 17.933 8.6461 17.9945 8.39907 17.9996C8.15205 18.0048 7.90664 17.9536 7.67751 17.8491C7.44839 17.7446 7.24026 17.5889 7.06557 17.3913L0.584875 10.0606C0.40433 9.87038 0.25952 9.64098 0.159083 9.3861C0.058646 9.13122 0.0046394 8.85607 0.000285983 8.57707C-0.00406744 8.29808 0.0413216 8.02095 0.133744 7.76222C0.226167 7.50349 0.363731 7.26846 0.538229 7.07114C0.712726 6.87383 0.920583 6.71829 1.1494 6.61378C1.37822 6.50928 1.6233 6.45795 1.87004 6.46287C2.11678 6.4678 2.36012 6.52886 2.58553 6.64243C2.81094 6.756 3.01382 6.91974 3.18205 7.12389L8.3127 12.9225L16.8221 0.663118C16.8373 0.641657 16.8537 0.621298 16.8711 0.602166H16.8687Z" fill="#2DA6FE"/>
                    </svg>
                </div>
            </div>
            <div class="space-y-3">
                <div class="font-bold">100% Confiable</div>
                <div class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaUt ad minim veniam, quis nostrud exercitation</div>
            </div>
        </div>

    </section>

</header>