<body>
    <!-- Solicitar Certificado -->
    <header *ngIf="solicitarcertificado === false" [class.showingData]="solicitarcertificado === true" class="adorno h-full w-full py-56 ">
        <div class=" gap-4 rounded-2xl px-5 py-2 flex justify-center items-center ">
            <div class="text-center text-3xl font-semibold">Solicita aqui tu certificado digital</div>
        </div>
        <div (click)="onSolicitar()" class="flex justify-center items-center ">
            <button class="rounded-full px-5 py-2 bg-black hover:bg-gray-900 focus:bg-gray-900 focus:outline-none text-white  text-center">Solicitar Certificado</button>
        </div>
    </header>
    <!-- Subir Documentos Digitales -->
    <header *ngIf="solicitarcertificado === true" [class.showingData]="solicitudenviada === true" class="bg-gray-100 p-5">
        <div class=" bg-white rounded-lg shadow-md p-5 space-y-5">
            <!-- titulo -->
            <div class="font-bold pt-4">Subir Documento Digitales</div>
            <!-- descripción -->
            <div class="text-gray-600">Los documentos deben subirse según se indica aquí, esto será revisado por el Operador de Registro asignado, algunas veces pedimos documentos adicionales a estos, de ser el caso te lo haremos saber por email. Si no se suben segun estas intrucciones
                tu certificado podria demorar, leer con cuidado porfavor.
            </div>
            <!-- adjuntar archivos -->
            <div class="grid md:grid-cols-2 gap-5">
                <!-- CONTRATO FIRMADO ESCANEADO O FOTO     -->
                <div class="col-span-1 border-gray-200 shadow-md border rounded-md p-7 space-y-2">
                    <div class="font-bold text-center">CONTRATO FIRMADO ESCANEADO O FOTO</div>
                    <div class="flex items-center text-center justify-center gap-3">
                        <div>
                            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.125 14.1176H0.875C0.391751 14.1176 0 14.539 0 15.0588C0 15.5786 0.391751 16 0.875 16H13.125C13.6082 16 14 15.5786 14 15.0588C14 14.539 13.6082 14.1176 13.125 14.1176Z" fill="#2DA6FE"/>
                                <path d="M0 13.1765L0 15.0588C0 15.5786 0.391751 16 0.875 16C1.35825 16 1.75 15.5786 1.75 15.0588L1.75 13.1765C1.75 12.6567 1.35825 12.2353 0.875 12.2353C0.391751 12.2353 0 12.6567 0 13.1765Z" fill="#2DA6FE"/>
                                <path d="M12.25 13.1765V15.0588C12.25 15.5786 12.6418 16 13.125 16C13.6082 16 14 15.5786 14 15.0588V13.1765C14 12.6567 13.6082 12.2353 13.125 12.2353C12.6418 12.2353 12.25 12.6567 12.25 13.1765Z" fill="#2DA6FE"/>
                                <path d="M7.00026 11.2941C6.81886 11.2956 6.64151 11.2364 6.49276 11.1247L2.99276 8.47058C2.80412 8.32664 2.67614 8.10823 2.63679 7.86308C2.59743 7.61793 2.64992 7.36599 2.78276 7.16235C2.84907 7.06056 2.93348 6.9739 3.03109 6.90739C3.12871 6.84087 3.23761 6.79581 3.3515 6.77481C3.46539 6.75381 3.58202 6.75728 3.69466 6.78503C3.8073 6.81278 3.91372 6.86424 4.00776 6.93647L7.00026 9.18588L9.97526 6.77647C10.1609 6.6267 10.3943 6.56239 10.624 6.59769C10.8537 6.63299 11.061 6.76501 11.2003 6.9647C11.3395 7.16439 11.3993 7.4154 11.3665 7.66251C11.3336 7.90962 11.2109 8.13258 11.0253 8.28235L7.52526 11.1059C7.3738 11.2281 7.18959 11.2941 7.00026 11.2941Z" fill="#2DA6FE"/>
                                <path d="M7 9.41177C6.76794 9.41177 6.54538 9.31261 6.38128 9.1361C6.21719 8.9596 6.125 8.7202 6.125 8.47059V0.941177C6.125 0.691561 6.21719 0.452169 6.38128 0.275664C6.54538 0.0991593 6.76794 0 7 0C7.23206 0 7.45462 0.0991593 7.61872 0.275664C7.78281 0.452169 7.875 0.691561 7.875 0.941177V8.47059C7.875 8.7202 7.78281 8.9596 7.61872 9.1361C7.45462 9.31261 7.23206 9.41177 7 9.41177Z" fill="#2DA6FE"/>
                            </svg>
                        </div>
                        <div class="text-blue-400 font-bold">Descargar contrato aqui</div>
                    </div>
                    <div class="text-gray-500 text-center"> Imprimir el CONTRATO que debe ser firmado por ,luego escanearlo o tomarle una foto de buena resolucion para subirlo aqui.</div>
                    <div class="grid grid-cols-5 ">
                        <button class="bg-blue-500 text-white px-2 py-2 col-span-2 lg:col-span-1  rounded-l-md focus:outline-none ">Subir archivo</button> <input class="col-span-3 lg:col-span-4  bg-yellow-100 text-center border-dashed " type="text" placeholder="Arrastra y soltar archivo aquí">
                    </div>
                </div>
                <!-- COPIA LITERAL o VIGENCIA DE PODER CON QR -->
                <div class="col-span-1 border-gray-200 shadow-md border rounded-md p-7 space-y-2">
                    <div class="font-bold text-center">COPIA LITERAL o VIGENCIA DE PODER CON QR</div>
                    <div class="flex items-center text-center justify-center gap-3">
                        <div>
                            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.125 14.1176H0.875C0.391751 14.1176 0 14.539 0 15.0588C0 15.5786 0.391751 16 0.875 16H13.125C13.6082 16 14 15.5786 14 15.0588C14 14.539 13.6082 14.1176 13.125 14.1176Z" fill="#2DA6FE"/>
                                <path d="M0 13.1765L0 15.0588C0 15.5786 0.391751 16 0.875 16C1.35825 16 1.75 15.5786 1.75 15.0588L1.75 13.1765C1.75 12.6567 1.35825 12.2353 0.875 12.2353C0.391751 12.2353 0 12.6567 0 13.1765Z" fill="#2DA6FE"/>
                                <path d="M12.25 13.1765V15.0588C12.25 15.5786 12.6418 16 13.125 16C13.6082 16 14 15.5786 14 15.0588V13.1765C14 12.6567 13.6082 12.2353 13.125 12.2353C12.6418 12.2353 12.25 12.6567 12.25 13.1765Z" fill="#2DA6FE"/>
                                <path d="M7.00026 11.2941C6.81886 11.2956 6.64151 11.2364 6.49276 11.1247L2.99276 8.47058C2.80412 8.32664 2.67614 8.10823 2.63679 7.86308C2.59743 7.61793 2.64992 7.36599 2.78276 7.16235C2.84907 7.06056 2.93348 6.9739 3.03109 6.90739C3.12871 6.84087 3.23761 6.79581 3.3515 6.77481C3.46539 6.75381 3.58202 6.75728 3.69466 6.78503C3.8073 6.81278 3.91372 6.86424 4.00776 6.93647L7.00026 9.18588L9.97526 6.77647C10.1609 6.6267 10.3943 6.56239 10.624 6.59769C10.8537 6.63299 11.061 6.76501 11.2003 6.9647C11.3395 7.16439 11.3993 7.4154 11.3665 7.66251C11.3336 7.90962 11.2109 8.13258 11.0253 8.28235L7.52526 11.1059C7.3738 11.2281 7.18959 11.2941 7.00026 11.2941Z" fill="#2DA6FE"/>
                                <path d="M7 9.41177C6.76794 9.41177 6.54538 9.31261 6.38128 9.1361C6.21719 8.9596 6.125 8.7202 6.125 8.47059V0.941177C6.125 0.691561 6.21719 0.452169 6.38128 0.275664C6.54538 0.0991593 6.76794 0 7 0C7.23206 0 7.45462 0.0991593 7.61872 0.275664C7.78281 0.452169 7.875 0.691561 7.875 0.941177V8.47059C7.875 8.7202 7.78281 8.9596 7.61872 9.1361C7.45462 9.31261 7.23206 9.41177 7 9.41177Z" fill="#2DA6FE"/>
                            </svg>
                        </div>
                        <div class="text-blue-400 font-bold">Descargar Tutorial</div>
                    </div>
                    <div class="text-gray-500 text-center">Tambien llamado Certificado Litral de Partida Registral o Certificado de Vigencia de Poder CON QR (no mayores a tres mese de antiguedad, trasmitado en SUNARP). Si tirenes dificultades para solicitarte escribe al Operador de Registro
                        asignado por favor.</div>
                    <div class="grid grid-cols-5 ">
                        <button class="bg-blue-500 text-white px-2 py-2 col-span-2 lg:col-span-1  rounded-l-md focus:outline-none ">Subir archivo</button> <input class="col-span-3 lg:col-span-4  bg-yellow-100 text-center border-dashed " type="text" placeholder="Arrastra y soltar archivo aquí">
                    </div>
                </div>
                <!-- AUTORIZACIÓN -->
                <div class="col-span-1 border-gray-200 shadow-md border rounded-md p-7 space-y-2">
                    <div class="font-bold text-center">AUTORIZACIÓN</div>
                    <div class="flex items-center text-center justify-center gap-3">
                        <div>
                            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.125 14.1176H0.875C0.391751 14.1176 0 14.539 0 15.0588C0 15.5786 0.391751 16 0.875 16H13.125C13.6082 16 14 15.5786 14 15.0588C14 14.539 13.6082 14.1176 13.125 14.1176Z" fill="#2DA6FE"/>
                                <path d="M0 13.1765L0 15.0588C0 15.5786 0.391751 16 0.875 16C1.35825 16 1.75 15.5786 1.75 15.0588L1.75 13.1765C1.75 12.6567 1.35825 12.2353 0.875 12.2353C0.391751 12.2353 0 12.6567 0 13.1765Z" fill="#2DA6FE"/>
                                <path d="M12.25 13.1765V15.0588C12.25 15.5786 12.6418 16 13.125 16C13.6082 16 14 15.5786 14 15.0588V13.1765C14 12.6567 13.6082 12.2353 13.125 12.2353C12.6418 12.2353 12.25 12.6567 12.25 13.1765Z" fill="#2DA6FE"/>
                                <path d="M7.00026 11.2941C6.81886 11.2956 6.64151 11.2364 6.49276 11.1247L2.99276 8.47058C2.80412 8.32664 2.67614 8.10823 2.63679 7.86308C2.59743 7.61793 2.64992 7.36599 2.78276 7.16235C2.84907 7.06056 2.93348 6.9739 3.03109 6.90739C3.12871 6.84087 3.23761 6.79581 3.3515 6.77481C3.46539 6.75381 3.58202 6.75728 3.69466 6.78503C3.8073 6.81278 3.91372 6.86424 4.00776 6.93647L7.00026 9.18588L9.97526 6.77647C10.1609 6.6267 10.3943 6.56239 10.624 6.59769C10.8537 6.63299 11.061 6.76501 11.2003 6.9647C11.3395 7.16439 11.3993 7.4154 11.3665 7.66251C11.3336 7.90962 11.2109 8.13258 11.0253 8.28235L7.52526 11.1059C7.3738 11.2281 7.18959 11.2941 7.00026 11.2941Z" fill="#2DA6FE"/>
                                <path d="M7 9.41177C6.76794 9.41177 6.54538 9.31261 6.38128 9.1361C6.21719 8.9596 6.125 8.7202 6.125 8.47059V0.941177C6.125 0.691561 6.21719 0.452169 6.38128 0.275664C6.54538 0.0991593 6.76794 0 7 0C7.23206 0 7.45462 0.0991593 7.61872 0.275664C7.78281 0.452169 7.875 0.691561 7.875 0.941177V8.47059C7.875 8.7202 7.78281 8.9596 7.61872 9.1361C7.45462 9.31261 7.23206 9.41177 7 9.41177Z" fill="#2DA6FE"/>
                            </svg>
                        </div>
                        <div class="text-blue-400 font-bold">Descargar autorización del presentante</div>
                    </div>
                    <div class="text-gray-500 text-center">La persona o personas que tienen poderes para firmar deben autoria la emisión del certificado digital.</div>
                    <div class="grid grid-cols-5 ">
                        <button class="bg-blue-500 text-white px-2 py-2 col-span-2 lg:col-span-1  rounded-l-md focus:outline-none ">Subir archivo</button> <input class="col-span-3 lg:col-span-4  bg-yellow-100 text-center border-dashed " type="text" placeholder="Arrastra y soltar archivo aquí">
                    </div>
                </div>
                <!-- FICHA RUC CON QR -->
                <div class="col-span-1 border-gray-200 shadow-md border rounded-md p-7 space-y-2">
                    <div class="font-bold text-center">FICHA RUC CON QR</div>
                    <div class="flex items-center text-center justify-center gap-3">
                        <div>
                            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.125 14.1176H0.875C0.391751 14.1176 0 14.539 0 15.0588C0 15.5786 0.391751 16 0.875 16H13.125C13.6082 16 14 15.5786 14 15.0588C14 14.539 13.6082 14.1176 13.125 14.1176Z" fill="#2DA6FE"/>
                                <path d="M0 13.1765L0 15.0588C0 15.5786 0.391751 16 0.875 16C1.35825 16 1.75 15.5786 1.75 15.0588L1.75 13.1765C1.75 12.6567 1.35825 12.2353 0.875 12.2353C0.391751 12.2353 0 12.6567 0 13.1765Z" fill="#2DA6FE"/>
                                <path d="M12.25 13.1765V15.0588C12.25 15.5786 12.6418 16 13.125 16C13.6082 16 14 15.5786 14 15.0588V13.1765C14 12.6567 13.6082 12.2353 13.125 12.2353C12.6418 12.2353 12.25 12.6567 12.25 13.1765Z" fill="#2DA6FE"/>
                                <path d="M7.00026 11.2941C6.81886 11.2956 6.64151 11.2364 6.49276 11.1247L2.99276 8.47058C2.80412 8.32664 2.67614 8.10823 2.63679 7.86308C2.59743 7.61793 2.64992 7.36599 2.78276 7.16235C2.84907 7.06056 2.93348 6.9739 3.03109 6.90739C3.12871 6.84087 3.23761 6.79581 3.3515 6.77481C3.46539 6.75381 3.58202 6.75728 3.69466 6.78503C3.8073 6.81278 3.91372 6.86424 4.00776 6.93647L7.00026 9.18588L9.97526 6.77647C10.1609 6.6267 10.3943 6.56239 10.624 6.59769C10.8537 6.63299 11.061 6.76501 11.2003 6.9647C11.3395 7.16439 11.3993 7.4154 11.3665 7.66251C11.3336 7.90962 11.2109 8.13258 11.0253 8.28235L7.52526 11.1059C7.3738 11.2281 7.18959 11.2941 7.00026 11.2941Z" fill="#2DA6FE"/>
                                <path d="M7 9.41177C6.76794 9.41177 6.54538 9.31261 6.38128 9.1361C6.21719 8.9596 6.125 8.7202 6.125 8.47059V0.941177C6.125 0.691561 6.21719 0.452169 6.38128 0.275664C6.54538 0.0991593 6.76794 0 7 0C7.23206 0 7.45462 0.0991593 7.61872 0.275664C7.78281 0.452169 7.875 0.691561 7.875 0.941177V8.47059C7.875 8.7202 7.78281 8.9596 7.61872 9.1361C7.45462 9.31261 7.23206 9.41177 7 9.41177Z" fill="#2DA6FE"/>
                            </svg>
                        </div>
                        <div class="text-blue-400 font-bold">Descargar Tutorial</div>
                    </div>
                    <div class="text-gray-500 text-center">Ficha RUC con QR (esto se puede solicitar en la pagina de SUNAT usando su Clave Sol)</div>
                    <div class="grid grid-cols-5 ">
                        <button class="bg-blue-500 text-white px-2 py-2 col-span-2 lg:col-span-1  rounded-l-md focus:outline-none ">Subir archivo</button> <input class="col-span-3 lg:col-span-4  bg-yellow-100 text-center border-dashed " type="text" placeholder="Arrastra y soltar archivo aquí">
                    </div>
                </div>
            </div>
            <!-- boton de enviar -->
            <button (click)="onEnviada()" class="focus:outline-none px-7 py-2 bg-gray-300 text-gray-600 font-semibold rounded-md hover:bg-gray-900 hover:text-white">Enviar</button>
        </div>
    </header>
    <!-- Certificado Digital vigente -->
    <header *ngIf="solicitudenviada === true" class="adorno h-full py-56  w-full  flex justify-center items-center">
        <div class="flex border-2 gap-4 rounded-2xl px-5   border-gray-700 text-gray-700 py-2 my-6">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 0C5.37321 0 0 5.37321 0 12C0 18.6268 5.37321 24 12 24C18.6268 24 24 18.6268 24 12C24 5.37321 18.6268 0 12 0ZM17.183 8.08125L11.542 15.9027C11.4631 16.0127 11.3592 16.1024 11.2388 16.1642C11.1184 16.2261 10.9849 16.2584 10.8496 16.2584C10.7142 16.2584 10.5808 16.2261 10.4603 16.1642C10.3399 16.1024 10.236 16.0127 10.1571 15.9027L6.81696 11.2741C6.71518 11.1321 6.81696 10.9339 6.99107 10.9339H8.24732C8.52054 10.9339 8.78036 11.0652 8.94107 11.2902L10.8482 13.9366L15.0589 8.09732C15.2196 7.875 15.4768 7.74107 15.7527 7.74107H17.0089C17.183 7.74107 17.2848 7.93929 17.183 8.08125Z" fill="#4FC425"/>
            </svg>
            <div>Certificado Digital vigente hasta: 22/05/2021</div>
        </div>
    </header>
</body>