@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* You can add global styles to this file, and also import other style files */


/* Fondo de las Paginas */

.adorno {
    background-image: url(assets/img/adorno.svg);
}


/* Mensaje flotante de la pagina Factesol */


/*------------------------------------------- Carousel -------------------------- */

.showingData {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
}

.carousel-cell {
    width: 20%;
    height: 180px;
    margin-right: 10px;
    border-radius: 5px;
    counter-increment: gallery-cell;
}

@media (max-width: 1024px) {
    .carousel-cell {
        width: 20%;
        height: 150px;
        margin-right: 10px;
        border-radius: 5px;
        counter-increment: gallery-cell;
    }
}

@media (max-width: 768px) {
    .carousel-cell {
        width: 25%;
        height: 100px;
        margin-right: 10px;
        border-radius: 5px;
        counter-increment: gallery-cell;
    }
}

@media (max-width: 411px) {
    .carousel-cell {
        width: 66%;
        height: 200px;
        margin-right: 10px;
        border-radius: 5px;
        counter-increment: gallery-cell;
    }
}


/*----------------------------------- Prueba de opciones -------*/

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown .dropbtn:hover {
    color: #2DA6FE;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f5f5f5;
    color: #2DA6FE;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/*--------------------------------------------- Carrousel--------------------------------------- */